Repository zkSync-Community-Hub/community-code: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

docs: update web3js guide scripts (#51)
  content/tutorials/guide-web3js/10.index.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

Notes added by 'git notes add'
  65d1407aeb9e1d085e79f3a83087972e5ec9d833
Due: none

chore(web3js): remove outdated Web3.js guide
  content/tutorials/guide-web3js/10.index.md
  content/tutorials/guide-web3js/_dir.yml
Due: prettier --list-different, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: add cli to web3js
  content/tutorials/guide-web3js/10.index.md
  content/tutorials/guide-web3js/_dir.yml
Due: prettier --list-different, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: update naming
  content/tutorials/guide-web3js/10.index.md
  content/tutorials/guide-web3js/_dir.yml
Due: prettier --list-different, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: bold steps
  content/tutorials/guide-web3js/10.index.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: add cli to web3js (#53)
  content/tutorials/guide-web3js/10.index.md
  content/tutorials/guide-web3js/_dir.yml
Due: prettier --list-different, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

Notes added by 'git notes add'
  1275f015c82d8928800004569580a925ba1c8a25
Due: none

fix: fix last updated date for web3js
  content/tutorials/guide-web3js/_dir.yml
Due: prettier --list-different

fix: fix last updated date for web3js (#54)
  content/tutorials/guide-web3js/_dir.yml
Due: prettier --list-different

Notes added by 'git notes add'
  1ec827d429687a6579d2c3af18612e9896ffaa28
Due: none

fix(web3js): fix RPC URL and link
  content/tutorials/guide-web3js/10.index.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix(web3js): fix RPC URL and link (#55)
  content/tutorials/guide-web3js/10.index.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

Notes added by 'git notes add'
  939b79612b36110bbe69595b8b26084ccff9548b
Due: none

docs: test daily spend limit tutorial
  .github/workflows/playwright.yaml
  content/tutorials/daily-spend-limit-account/10.index.md
  tests/configs/config.ts
  tests/configs/daily-spend-limit.ts
  tests/daily-spend-limit.spec.ts
  tests/erc20-paymaster.spec.ts
  tests/how-to-test-contracts.spec.ts
  tests/utils/files.ts
  tests/utils/runCommand.ts
  tests/utils/runTest.ts
  tests/utils/types.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

docs: test daily spend limit tutorial (#56)
  .github/workflows/playwright.yaml
  content/tutorials/daily-spend-limit-account/10.index.md
  tests/configs/config.ts
  tests/configs/daily-spend-limit.ts
  tests/daily-spend-limit.spec.ts
  tests/erc20-paymaster.spec.ts
  tests/how-to-test-contracts.spec.ts
  tests/utils/files.ts
  tests/utils/runCommand.ts
  tests/utils/runTest.ts
  tests/utils/types.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

Notes added by 'git notes add'
  3398daeb17dc8a6dfcca13d9fde4cb36f8a13ee9
Due: none

fix: L2 to L1 tutorial - check the proof output
  content/tutorials/how-to-send-l2-l1-message/10.index.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

feat: added withdrawal finalize step
  content/tutorials/how-to-withdraw-eth/10.index.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: L2 to L1 tutorial - check the proof output (#57)
  content/tutorials/how-to-send-l2-l1-message/10.index.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

Notes added by 'git notes add'
  0e19659f538d4288fa0ee275225f964421c20dc0
Due: none

feat: add algolia search
  bun.lockb
  package.json
  renovate.json
Due: prettier --list-different

chore: add algolia keys for workflows
  .github/workflows/deploy-preview.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-staging.yml
Due: prettier --list-different

feat: add algolia search (#59)
  .github/workflows/deploy-preview.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-staging.yml
  bun.lockb
  package.json
  renovate.json
Due: prettier --list-different

Notes added by 'git notes add'
  4e1979098f72cdb60620dff139c2da8c54cbf97c
Due: none

fix: header links
  bun.lockb
  package.json
Due: prettier --list-different

fix: remove unused search
  app.vue
  error.vue
  nuxt.config.ts
  server/api/search.json.get.ts
Due: prettier --list-different, eslint

fix: update nuxt template version
  bun.lockb
  package.json
Due: prettier --list-different

fix: header links (#66)
  app.vue
  bun.lockb
  error.vue
  nuxt.config.ts
  package.json
  server/api/search.json.get.ts
Due: prettier --list-different, eslint

Notes added by 'git notes add'
  822a018cbfbc872b49bfc1cc03d16918cc391c30
Due: none

chore: update layer version
  .env.example
  bun.lockb
  package.json
Due: prettier --list-different

chore: update layer version (#67)
  .env.example
  bun.lockb
  package.json
Due: prettier --list-different

Update code/webauthn/frontend/src/pages/api/get-registration-options.ts
  code/webauthn/frontend/src/pages/api/get-registration-options.ts
Due: prettier --list-different, eslint

fix: cleanup and prevent replays
  code/webauthn/contracts/contracts/Account.sol
  code/webauthn/frontend/src/pages/register.tsx
  code/webauthn/frontend/src/pages/transfer.tsx
  code/webauthn/frontend/utils/getTransaction.ts
  code/webauthn/frontend/utils/sign.ts
  code/webauthn/frontend/utils/string.ts
  code/webauthn/text.ts
Due: prettier --list-different, eslint

fix: check webauthn challenge
  code/webauthn/contracts/contracts/AAFactory.sol
  code/webauthn/contracts/contracts/Account.sol
  code/webauthn/contracts/hardhat.config.ts
  code/webauthn/frontend/src/pages/transfer.tsx
  code/webauthn/frontend/utils/sign.ts
  code/webauthn/frontend/utils/string.ts
Due: prettier --list-different, eslint

fix: cleanup
  code/webauthn/frontend/src/pages/transfer.tsx
  code/webauthn/frontend/utils/sign.ts
Due: prettier --list-different, eslint

refactor: cleanup
  code/webauthn/contracts/contracts/Account.sol
Due: none

Update content/tutorials/how-to-withdraw-eth/10.index.md
  content/tutorials/how-to-withdraw-eth/10.index.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

Path conditions:
  prettier --list-different: (any of: *.{js,ts,vue}) or (any of: *.{json,yml})
  eslint: any of: *.{js,ts,vue}
  markdownlint-cli2: any of: *.md
  cspell lint --quiet --no-must-find-files --files: any of: *.md
