Repository zkSync-Community-Hub/community-code: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint, cspell lint --file, markdownlint-cli2

feat: add erc20 paymaster test and refactor testing (#38)
  .github/workflows/playwright.yaml
  bun.lockb
  components/TestAction.vue
  content/tutorials/erc20-paymaster/10.index.md
  content/tutorials/how-to-test-contracts/10.index.md
  nuxt.config.ts
  package.json
  tests/configs/config.ts
  tests/configs/erc20-paymaster.ts
  tests/configs/how-to-test-contracts.ts
  tests/erc20-paymaster.spec.ts
  tests/how-to-test-contracts.spec.ts
  tests/utils/files.ts
  tests/utils/getTestActions.ts
  tests/utils/runCommand.ts
  tests/utils/runTest.ts
  tests/utils/types.ts
Due: prettier --list-different, eslint, cspell lint --file, markdownlint-cli2

Notes added by 'git notes add'
  5c6b7b62f338859785a900570cf83680e06a5090
Due: none

fix: remove unnecessary package-lock.json and bun.lockb files
  bun.lockb
  package-lock.json
Due: prettier --list-different

fix: bun.lockb to latest
  bun.lockb
Due: none

fix: minor fixes
  content/tutorials/custom-zk-chain/10.index.md
  content/tutorials/custom-zk-chain/_dir.yml
Due: prettier --list-different, cspell lint --file, markdownlint-cli2

Apply suggestions from code review
  content/tutorials/custom-zk-chain/10.index.md
  content/tutorials/custom-zk-chain/20.customizing-your-chain.md
Due: cspell lint --file, markdownlint-cli2

docs: address feedback
  content/tutorials/custom-zk-chain/10.index.md
  content/tutorials/custom-zk-chain/20.customizing-your-chain.md
Due: cspell lint --file, markdownlint-cli2

feat: update template version and sdk links
  app.vue
  bun.lockb
  content/tutorials/cross-chain-governance/30.cross-chain-transactions.md
  content/tutorials/daily-spend-limit-account/10.index.md
  content/tutorials/erc20-paymaster/10.index.md
  content/tutorials/frontend-paymaster/10.index.md
  content/tutorials/native-aa-multisig/10.index.md
  package.json
  pages/index.vue
Due: prettier --list-different, eslint, cspell lint --file, markdownlint-cli2

feat: update template version and sdk links (#39)
  app.vue
  bun.lockb
  content/tutorials/cross-chain-governance/30.cross-chain-transactions.md
  content/tutorials/daily-spend-limit-account/10.index.md
  content/tutorials/erc20-paymaster/10.index.md
  content/tutorials/frontend-paymaster/10.index.md
  content/tutorials/native-aa-multisig/10.index.md
  package.json
  pages/index.vue
Due: prettier --list-different, eslint, cspell lint --file, markdownlint-cli2

Notes added by 'git notes add'
  1ac6ea83705031d3259b9e3999d5b261c1814390
Due: none

feat: update to full integration tutorial
  content/tutorials/permissionless-paymaster/10.index.md
  public/images/permissionless-paymaster/frontend.png
  public/images/permissionless-paymaster/signatureRequest.png
Due: cspell lint --file, markdownlint-cli2

docs: add ZK chain tutorial (#36)
  content/tutorials/custom-zk-chain/10.index.md
  content/tutorials/custom-zk-chain/20.customizing-your-chain.md
  content/tutorials/custom-zk-chain/_dir.yml
  content/tutorials/guide-dipdup-indexer/_dir.yml
  cspell-config/cspell-blockchain.txt
  cspell-config/cspell-misc.txt
Due: prettier --list-different, cspell lint --file, markdownlint-cli2

Notes added by 'git notes add'
  26a9938899a4cbf30b2a113f128c3dad78ac5e7b
Due: none

docs: add image, minor edits to custom ZK chain
  content/tutorials/custom-zk-chain/10.index.md
  content/tutorials/custom-zk-chain/20.customizing-your-chain.md
  public/images/custom-zk-chain/Custom-ZK-Chain.png
Due: cspell lint --file, markdownlint-cli2

docs: remove image
  content/tutorials/custom-zk-chain/10.index.md
  public/images/custom-zk-chain/Custom-ZK-Chain.png
Due: cspell lint --file, markdownlint-cli2

docs: minor edits to custom ZK chain tutorial (#40)
  content/tutorials/custom-zk-chain/10.index.md
  content/tutorials/custom-zk-chain/20.customizing-your-chain.md
Due: cspell lint --file, markdownlint-cli2

Notes added by 'git notes add'
  68a9f79b67cf462471f41858728b52a25dbec8c4
Due: none

feat: update deps
  bun.lockb
  content/tutorials/custom-zk-chain/20.customizing-your-chain.md
  content/tutorials/guide-viem/10.index.md
  content/tutorials/how-to-deploy-contract/10.index.md
  cspell-config/cspell-misc.txt
  package.json
  pages/index.vue
  pages/tutorials/[...slug].vue
  pages/tutorials/index.vue
Due: prettier --list-different, eslint, cspell lint --file, markdownlint-cli2

chore: update husky for v10
  .husky/commit-msg
  .husky/pre-commit
Due: none

chore: update bun
  bun.lockb
Due: none

chore: add dependency
  bun.lockb
  package.json
Due: prettier --list-different

fix: switch from scss to css for orbit
  bun.lockb
  components/IconOrbit.vue
  package.json
Due: prettier --list-different, eslint

fix: silence spellchecker errors
  content/tutorials/guide-viem/10.index.md
  content/tutorials/guide-web3js/10.index.md
Due: cspell lint --file, markdownlint-cli2

chore: update deps
  .lintstagedrc.yml
  bun.lockb
  package.json
Due: prettier --list-different

chore: update deps (#41)
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.yml
  bun.lockb
  components/IconOrbit.vue
  content/tutorials/custom-zk-chain/20.customizing-your-chain.md
  content/tutorials/guide-viem/10.index.md
  content/tutorials/guide-web3js/10.index.md
  content/tutorials/how-to-deploy-contract/10.index.md
  cspell-config/cspell-misc.txt
  package.json
  pages/index.vue
  pages/tutorials/[...slug].vue
  pages/tutorials/index.vue
Due: prettier --list-different, eslint, cspell lint --file, markdownlint-cli2

fix: update links for quickstart refactor
  content/tutorials/cross-chain-governance/10.index.md
  content/tutorials/daily-spend-limit-account/10.index.md
  content/tutorials/dapp-nft-paymaster/10.index.md
  content/tutorials/erc20-paymaster/10.index.md
  content/tutorials/frontend-paymaster/10.index.md
Due: cspell lint --file, markdownlint-cli2

fix: update links for quickstart refactor (#42)
  content/tutorials/cross-chain-governance/10.index.md
  content/tutorials/daily-spend-limit-account/10.index.md
  content/tutorials/dapp-nft-paymaster/10.index.md
  content/tutorials/erc20-paymaster/10.index.md
  content/tutorials/frontend-paymaster/10.index.md
Due: cspell lint --file, markdownlint-cli2

Notes added by 'git notes add'
  1ae6d4b59144974a88345ce922ed193a2a78d4c9
Due: none

feat: l1-l2 how to guide
  content/tutorials/how-to-send-l1-l2-transaction/10.index.md
  content/tutorials/how-to-send-l1-l2-transaction/_dir.yml
Due: prettier --list-different, cspell lint --file, markdownlint-cli2

fix: broken link
  content/tutorials/how-to-send-l1-l2-transaction/10.index.md
Due: cspell lint --file, markdownlint-cli2

fix: linting
  content/tutorials/how-to-send-l1-l2-transaction/10.index.md
Due: cspell lint --file, markdownlint-cli2

fix: rename title
  content/tutorials/how-to-send-l1-l2-transaction/10.index.md
Due: cspell lint --file, markdownlint-cli2

fix: format steps
  content/tutorials/how-to-send-l1-l2-transaction/10.index.md
Due: cspell lint --file, markdownlint-cli2

fix: pk notes
  content/tutorials/how-to-send-l1-l2-transaction/10.index.md
Due: cspell lint --file, markdownlint-cli2

Apply suggestions from code review
  content/tutorials/how-to-send-l1-l2-transaction/10.index.md
Due: cspell lint --file, markdownlint-cli2

fix: pr review comments
  content/tutorials/how-to-send-l1-l2-transaction/10.index.md
Due: cspell lint --file, markdownlint-cli2

chore: update featured variable
  content/tutorials/guide-web3js/_dir.yml
Due: prettier --list-different

Path conditions:
  prettier --list-different: (any of: *.{js,ts,vue}) or (any of: *.{json,yml})
  eslint: any of: *.{js,ts,vue}
  cspell lint --file: any of: *.md
  markdownlint-cli2: any of: *.md
