Repository zkSync-Community-Hub/community-code: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

chore: update create signer snippet
  content/tutorials/permissionless-paymaster/10.index.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

chore: update tsx to ts
  content/tutorials/permissionless-paymaster/10.index.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

Update content/tutorials/how-to-send-l1-l2-transaction/10.index.md
  content/tutorials/how-to-send-l1-l2-transaction/10.index.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

feat: adds l1-l2 how to guide (#43)
  content/tutorials/how-to-send-l1-l2-transaction/10.index.md
  content/tutorials/how-to-send-l1-l2-transaction/_dir.yml
Due: prettier --list-different, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

Notes added by 'git notes add'
  29db882d943a3cb9130f6247fe85b9e775b85d04
Due: none

fix: trailing slash
  firebase.json
  nuxt.config.ts
  server/api/search.json.get.ts
Due: prettier --list-different, eslint

fix: add more description at step 5.2 & 6
  content/tutorials/permissionless-paymaster/10.index.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

feat: add permissionless paymaster tutorial
  content/tutorials/permissionless-paymaster/10.index.md
  content/tutorials/permissionless-paymaster/_dir.yml
  public/images/permissionless-paymaster/depositAndAddSigner.png
  public/images/permissionless-paymaster/flowDiagram.jpg
  public/images/permissionless-paymaster/frontend.png
  public/images/permissionless-paymaster/manager-signer.jpg
  public/images/permissionless-paymaster/signatureRequest.png
Due: prettier --list-different, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

chore: update cspell config
  cspell-config/cspell-blockchain.txt
Due: none

chore: update featured tag
  content/tutorials/guide-web3js/_dir.yml
Due: prettier --list-different

feat: add permissionless paymaster tutorial (#45)
  content/tutorials/guide-web3js/_dir.yml
  content/tutorials/permissionless-paymaster/10.index.md
  content/tutorials/permissionless-paymaster/_dir.yml
  cspell-config/cspell-blockchain.txt
  public/images/permissionless-paymaster/depositAndAddSigner.png
  public/images/permissionless-paymaster/flowDiagram.jpg
  public/images/permissionless-paymaster/frontend.png
  public/images/permissionless-paymaster/manager-signer.jpg
  public/images/permissionless-paymaster/signatureRequest.png
Due: prettier --list-different, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

Notes added by 'git notes add'
  e556c0ab15ec387cb40fe09aaef17686124a0422
Due: none

fix: trailing slash (#44)
  firebase.json
  nuxt.config.ts
  server/api/search.json.get.ts
Due: prettier --list-different, eslint

Notes added by 'git notes add'
  0125ad7dd9e36b204d2bc3db9b575622471a8985
Due: none

Update 10.index.md for 404 link
  content/tutorials/how-to-send-l1-l2-transaction/10.index.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

Update 10.index.md for 404 link (#46)
  content/tutorials/how-to-send-l1-l2-transaction/10.index.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix(docs): fix format and copy
  content/tutorials/permissionless-paymaster/10.index.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix(docs): fix copy l1tol2
  content/tutorials/how-to-send-l1-l2-transaction/_dir.yml
Due: prettier --list-different

docs: wip guide
  content/tutorials/max-gas-pub-data/10.index.md
  content/tutorials/max-gas-pub-data/_dir.yml
Due: prettier --list-different, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

feat(docs): pubdata costs guide
  content/tutorials/max-gas-pub-data/10.index.md
  content/tutorials/max-gas-pub-data/_dir.yml
Due: prettier --list-different, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix(docs): capitalize title
  content/tutorials/max-gas-pub-data/10.index.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix(docs): grammar and capitalization
  content/tutorials/max-gas-pub-data/10.index.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix(docs): update date
  content/tutorials/max-gas-pub-data/_dir.yml
Due: prettier --list-different

chore: update use of quickstart template
  content/tutorials/custom-zk-chain/10.index.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: update
  content/tutorials/custom-zk-chain/10.index.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

chore: update use of quickstart template (#49)
  content/tutorials/custom-zk-chain/10.index.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

feat: update layout for algolia search
  bun.lockb
  composables/useCategory.ts
  package.json
  pages/tutorials/[...slug].vue
Due: prettier --list-different, eslint

docs: update sdk links
  content/tutorials/native-aa-multisig/10.index.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: eslint error
  pages/index.vue
Due: prettier --list-different, eslint

feat: update docs version
  bun.lockb
  package.json
Due: prettier --list-different

chore: fix eslint error
  tests/utils/button.ts
Due: prettier --list-different, eslint

feat: update layout for algolia search (#50)
  bun.lockb
  composables/useCategory.ts
  content/tutorials/native-aa-multisig/10.index.md
  package.json
  pages/index.vue
  pages/tutorials/[...slug].vue
  tests/utils/button.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

Notes added by 'git notes add'
  99730e3e5c3950e34f212a55cd16610834476176
Due: none

docs: update scripts
  content/tutorials/guide-web3js/10.index.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

Update content/tutorials/guide-web3js/10.index.md
  content/tutorials/guide-web3js/10.index.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

Path conditions:
  prettier --list-different: (any of: *.{js,ts,vue}) or (any of: *.{json,yml})
  eslint: any of: *.{js,ts,vue}
  markdownlint-cli2: any of: *.md
  cspell lint --quiet --no-must-find-files --files: any of: *.md
