Repository zkSync-Community-Hub/community-code: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

chore: remove web3js tutorial (#136)
  components/IconOrbit.vue
  content/tutorials/guide-web3js/10.index.md
  content/tutorials/guide-web3js/_dir.yml
  public/logos/web3js-icon.png
  public/logos/web3js.svg
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

chore: update wagmi code (#137)
  code/test-contracts/test/test.ts
  code/wagmi/.gitignore
  code/wagmi/bun.lock
  code/wagmi/bun.lockb
  code/wagmi/eslint.config.js
  code/wagmi/index.html
  code/wagmi/next.config.ts
  code/wagmi/package.json
  code/wagmi/public/favicon.ico
  code/wagmi/src/App.css
  code/wagmi/src/App.tsx
  code/wagmi/src/components/AccountTS.tsx
  code/wagmi/src/components/BalanceTS.tsx
  code/wagmi/src/components/BlockTS.tsx
  code/wagmi/src/components/ConnectWalletTS.tsx
  code/wagmi/src/components/ReadContractTS.tsx
  code/wagmi/src/components/SendTxPreparedTS.tsx
  code/wagmi/src/components/SendTxTS.tsx
  code/wagmi/src/components/ShowConnectors.tsx
  code/wagmi/src/components/ShowConnectorsTS.tsx
  code/wagmi/src/components/SignMessageTS.tsx
  code/wagmi/src/components/SignTypedDataTS.tsx
  code/wagmi/src/index.css
  code/wagmi/src/main.tsx
  code/wagmi/src/pages/_app.tsx
  code/wagmi/src/pages/_document.tsx
  code/wagmi/src/pages/index.tsx
  code/wagmi/src/vite-env.d.ts
  code/wagmi/tsconfig.app.json
  code/wagmi/tsconfig.json
  code/wagmi/tsconfig.node.json
  code/wagmi/vite.config.ts
Due: prettier --list-different, eslint

feat: add walletconnect test, update tutorial (#134)
  .github/workflows/playwright.yaml
  code/walletconnect/.gitignore
  code/walletconnect/eslint.config.js
  code/walletconnect/index.html
  code/walletconnect/package.json
  code/walletconnect/src/App.tsx
  code/walletconnect/src/main.tsx
  code/walletconnect/src/vite-env.d.ts
  code/walletconnect/tsconfig.app.json
  code/walletconnect/tsconfig.json
  code/walletconnect/tsconfig.node.json
  code/walletconnect/vite.config.ts
  content/tutorials/guide-walletconnect/10.index.md
  content/tutorials/guide-walletconnect/_dir.yml
  cspell-config/cspell-blockchain.txt
  tests/configs/walletconnect.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

Notes added by 'git notes add'
  e6931e685ea922997da5a729cd4b750a6fff2ac1
Due: none

fix: feedback
  code/viem/index.html
  content/tutorials/guide-viem/_dir.yml
Due: prettier --list-different

fix: fix paymaster test
  content/tutorials/frontend-paymaster/10.index.md
  tests/configs/frontend-paymaster.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

ci: add viem test (#135)
  .github/workflows/playwright.yaml
  code/viem/.gitignore
  code/viem/eslint.config.js
  code/viem/index.html
  code/viem/package.json
  code/viem/src/App.tsx
  code/viem/src/components/Paymaster.tsx
  code/viem/src/components/Read.tsx
  code/viem/src/components/ReadContract.tsx
  code/viem/src/components/Write.tsx
  code/viem/src/main.tsx
  code/viem/src/utils/Greeter.json
  code/viem/src/utils/client.ts
  code/viem/src/vite-env.d.ts
  code/viem/tsconfig.app.json
  code/viem/tsconfig.json
  code/viem/tsconfig.node.json
  code/viem/vite.config.ts
  content/tutorials/frontend-paymaster/10.index.md
  content/tutorials/guide-viem/10.index.md
  content/tutorials/guide-viem/_dir.yml
  tests/configs/frontend-paymaster.ts
  tests/configs/viem.ts
  tests/utils/types.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

chore: rename ZK chain
  content/tutorials/custom-zk-chain/10.index.md
  content/tutorials/custom-zk-chain/20.customizing-your-chain.md
  content/tutorials/custom-zk-chain/_dir.yml
Due: prettier --list-different, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

chore: update names
  content/tutorials/custom-zk-chain/10.index.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

chore: rename elastic chain
  content/tutorials/custom-zk-chain/20.customizing-your-chain.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: remove latest from zksolc version config
  code/cross-chain-governance/L2-counter/hardhat.config.ts
  code/cross-chain-tx/hardhat.config.ts
  code/custom-zk-chain/hardhat.config.ts
  code/daily-spend-limit/hardhat.config.ts
  code/erc20-paymaster/hardhat.config.ts
  code/frontend-paymaster/contracts/hardhat.config.ts
  code/multisig/hardhat.config.ts
  code/webauthn/contracts/hardhat.config.ts
Due: prettier --list-different, eslint

feat: add twitter button
  components/content/TwitterButton.vue
  content/tutorials/custom-zk-chain/10.index.md
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: update tutorials to use latest contract packages and hardhat-zksync
  code/cross-chain-governance/L1-governance/package.json
  code/cross-chain-governance/L2-counter/hardhat.config.ts
  code/cross-chain-governance/L2-counter/package.json
  code/cross-chain-tx/bun.lockb
  code/cross-chain-tx/hardhat.config.ts
  code/cross-chain-tx/package.json
  code/custom-zk-chain/bun.lockb
  code/custom-zk-chain/hardhat.config.ts
  code/custom-zk-chain/package.json
  code/daily-spend-limit/hardhat.config.ts
  code/daily-spend-limit/package.json
  code/erc20-paymaster/hardhat.config.ts
  code/erc20-paymaster/package.json
  code/frontend-paymaster/contracts/hardhat.config.ts
  code/frontend-paymaster/contracts/package.json
  code/multisig/hardhat.config.ts
  code/multisig/package.json
  code/webauthn/contracts/hardhat.config.ts
  code/webauthn/contracts/package.json
  code/zk-game/contracts/package.json
  code/zk-paymaster/foundry.toml
  code/zk-paymaster/remappings.txt
Due: prettier --list-different, eslint

fix: update tutorials to use latest contract packages and hardhat-zksync
  package.json
Due: prettier --list-different

chore: debug dep install
  .github/workflows/checks.yaml
  .github/workflows/deploy-preview.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/playwright.yaml
  .github/workflows/release.yml
Due: prettier --list-different

fix: update anvil-zksync-action
  .github/workflows/playwright.yaml
Due: none

fix: testing contracts tutorial
  code/test-contracts/bun.lock
  code/test-contracts/hardhat.config.ts
  code/test-contracts/package.json
  content/tutorials/how-to-test-contracts/10.index.md
  content/tutorials/how-to-test-contracts/_dir.yml
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: testing contracts tutorial
  .github/workflows/playwright.yaml
  content/tutorials/how-to-test-contracts/10.index.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: workflow
  .github/workflows/playwright.yaml
Due: none

fix: remove test for now
  tests/configs/how-to-test-contracts.ts
Due: prettier --list-different, eslint

docs: rename ZKsync Chains (#138)
  .github/workflows/playwright.yaml
  code/cross-chain-governance/L2-counter/hardhat.config.ts
  code/cross-chain-tx/hardhat.config.ts
  code/custom-zk-chain/hardhat.config.ts
  code/daily-spend-limit/hardhat.config.ts
  code/erc20-paymaster/hardhat.config.ts
  code/frontend-paymaster/contracts/hardhat.config.ts
  code/multisig/hardhat.config.ts
  code/test-contracts/bun.lock
  code/test-contracts/hardhat.config.ts
  code/test-contracts/package.json
  code/webauthn/contracts/hardhat.config.ts
  content/tutorials/custom-zk-chain/10.index.md
  content/tutorials/custom-zk-chain/20.customizing-your-chain.md
  content/tutorials/custom-zk-chain/_dir.yml
  content/tutorials/how-to-test-contracts/10.index.md
  content/tutorials/how-to-test-contracts/_dir.yml
  tests/configs/how-to-test-contracts.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

Notes added by 'git notes add'
  281d99d23b44fbdd88a7302184b797eead6d385e
Due: none

fix: restore testing contracts tutorial
  .github/workflows/playwright.yaml
  code/test-contracts/hardhat.config.ts
  content/tutorials/how-to-test-contracts/10.index.md
  content/tutorials/how-to-test-contracts/_dir.yml
  tests/configs/how-to-test-contracts.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

Update .github/workflows/deploy-preview.yml
  .github/workflows/deploy-preview.yml
Due: prettier --list-different

fix: remove frozen dep
  .github/workflows/deploy-preview.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/release.yml
  code/test-contracts/bun.lockb
Due: prettier --list-different

chore: bumps contract and hardhat packages for tutorials (#139)
  .github/workflows/checks.yaml
  .github/workflows/deploy-preview.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/playwright.yaml
  .github/workflows/release.yml
  code/cross-chain-governance/L1-governance/package.json
  code/cross-chain-governance/L2-counter/package.json
  code/cross-chain-tx/bun.lockb
  code/cross-chain-tx/package.json
  code/custom-zk-chain/bun.lockb
  code/custom-zk-chain/package.json
  code/daily-spend-limit/package.json
  code/erc20-paymaster/package.json
  code/frontend-paymaster/contracts/package.json
  code/multisig/package.json
  code/test-contracts/bun.lockb
  code/webauthn/contracts/package.json
  code/zk-game/contracts/package.json
  code/zk-paymaster/foundry.toml
  code/zk-paymaster/remappings.txt
  package.json
Due: prettier --list-different

docs: add info about EVM testing
  content/tutorials/how-to-test-contracts/10.index.md
  content/tutorials/how-to-test-contracts/_dir.yml
Due: prettier --list-different, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: use default button
  components/content/TwitterButton.vue
Due: prettier --list-different, eslint

feat: add draft tweet buttons
  content/tutorials/build-a-zk-game/40.building-the-frontend.md
  content/tutorials/cross-chain-governance/30.cross-chain-transactions.md
  content/tutorials/custom-zk-chain/10.index.md
  content/tutorials/custom-zk-chain/20.customizing-your-chain.md
  content/tutorials/daily-spend-limit-account/10.index.md
  content/tutorials/erc20-paymaster/10.index.md
  content/tutorials/frontend-paymaster/10.index.md
  content/tutorials/native-aa-multisig/10.index.md
  content/tutorials/paymaster-foundry-guide/30.interacting-cast-paymaster.md
  content/tutorials/signing-transactions-with-webauthn/40.completing-the-frontend.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

chore: tag zksync devs account
  content/tutorials/build-a-zk-game/40.building-the-frontend.md
  content/tutorials/cross-chain-governance/30.cross-chain-transactions.md
  content/tutorials/custom-zk-chain/10.index.md
  content/tutorials/custom-zk-chain/20.customizing-your-chain.md
  content/tutorials/daily-spend-limit-account/10.index.md
  content/tutorials/erc20-paymaster/10.index.md
  content/tutorials/frontend-paymaster/10.index.md
  content/tutorials/native-aa-multisig/10.index.md
  content/tutorials/paymaster-foundry-guide/30.interacting-cast-paymaster.md
  content/tutorials/signing-transactions-with-webauthn/40.completing-the-frontend.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: restore testing contracts tutorial (#140)
  .github/workflows/playwright.yaml
  code/test-contracts/hardhat.config.ts
  content/tutorials/how-to-test-contracts/10.index.md
  content/tutorials/how-to-test-contracts/_dir.yml
  tests/configs/how-to-test-contracts.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

Notes added by 'git notes add'
  c8924e4043d11dc32ceea3e6830c71031b6c7718
Due: none

feat: add "Share on X" button (#141)
  components/content/TwitterButton.vue
  content/tutorials/build-a-zk-game/40.building-the-frontend.md
  content/tutorials/cross-chain-governance/30.cross-chain-transactions.md
  content/tutorials/custom-zk-chain/10.index.md
  content/tutorials/custom-zk-chain/20.customizing-your-chain.md
  content/tutorials/daily-spend-limit-account/10.index.md
  content/tutorials/erc20-paymaster/10.index.md
  content/tutorials/frontend-paymaster/10.index.md
  content/tutorials/native-aa-multisig/10.index.md
  content/tutorials/paymaster-foundry-guide/30.interacting-cast-paymaster.md
  content/tutorials/signing-transactions-with-webauthn/40.completing-the-frontend.md
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

Notes added by 'git notes add'
  27fdfa1891592d1ff28a4a7b7dc361e6dd3d423f
Due: none

docs: start drafting sso rn tutorial
  content/tutorials/sso-react-native/10.index.md
  content/tutorials/sso-react-native/_dir.yml
  cspell-config/cspell-misc.txt
Due: prettier --list-different, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

docs: finish draft
  code/sso-react-native/package-lock.json
  code/sso-react-native/package.json
  code/sso-react-native/types/types.ts
  code/sso-react-native/utils/account.ts
  code/sso-react-native/utils/authenticate/accountClient.ts
  code/sso-react-native/utils/authenticate/authenticator.ts
  code/sso-react-native/utils/loadConfig.ts
  code/sso-react-native/utils/sendETH.ts
  content/tutorials/build-a-zk-game/_dir.yml
  content/tutorials/daily-spend-limit-account/_dir.yml
  content/tutorials/signing-transactions-with-webauthn/_dir.yml
  content/tutorials/sso-react-native/10.index.md
  content/tutorials/sso-react-native/20.adding-zksync-sso.md
  content/tutorials/sso-react-native/_dir.yml
  cspell-config/cspell-zksync.txt
  public/images/sso-react-native/xcode-setup.png
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

docs: add video, cleanup
  content/tutorials/sso-react-native/10.index.md
  content/tutorials/sso-react-native/20.adding-zksync-sso.md
  public/images/sso-react-native/sso-demo.mp4
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

feat: add twitter button
  content/tutorials/sso-react-native/20.adding-zksync-sso.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: fix icons
  nuxt.config.ts
Due: prettier --list-different, eslint

fix: add more icons
  nuxt.config.ts
Due: prettier --list-different, eslint

Path conditions:
  prettier --list-different: (any of: *.{js,ts,vue}) or (any of: *.{json,yml})
  eslint: any of: *.{js,ts,vue}
  markdownlint-cli2: any of: *.md
  cspell lint --quiet --no-must-find-files --files: any of: *.md
