Repository zkSync-Community-Hub/community-code: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

.lintstagedrc.yml:

'*.{js,ts,vue}':
  - prettier --list-different
  - eslint
'*.md':
  - markdownlint-cli2
  - cspell lint --quiet --no-must-find-files --files
'*.{json,yml}':
  - prettier --list-different

fix: address feedback
  code/webauthn/README.md
  code/webauthn/contracts/.env.example
  code/webauthn/contracts/contracts/Account.sol
  code/webauthn/contracts/deploy/deployAndTransfer.ts
  code/webauthn/contracts/deploy/registerR1Owner.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

feat: add mint NFT page
  code/webauthn/contracts/contracts/MyNFT.sol
  code/webauthn/contracts/deploy/deployMyNFT.ts
  code/webauthn/contracts/deploy/registerR1Owner.ts
  code/webauthn/contracts/package.json
  code/webauthn/frontend/src/components/Layout.tsx
  code/webauthn/frontend/src/pages/index.tsx
  code/webauthn/frontend/src/pages/mint.tsx
  code/webauthn/frontend/src/pages/register.tsx
  code/webauthn/frontend/src/pages/transfer.tsx
  code/webauthn/frontend/utils/getTransaction.ts
  code/webauthn/frontend/utils/sign.ts
  code/webauthn/frontend/utils/webauthn.ts
Due: prettier --list-different, eslint

feat: flow is all frontend
  code/webauthn/README.md
  code/webauthn/contracts/contracts/GeneralPaymaster.sol
  code/webauthn/contracts/deploy/deployPaymaster.ts
  code/webauthn/contracts/deploy/registerR1Owner.ts
  code/webauthn/contracts/package.json
  code/webauthn/frontend/src/components/Layout.tsx
  code/webauthn/frontend/src/hooks/useAccount.tsx
  code/webauthn/frontend/src/hooks/useWallet.tsx
  code/webauthn/frontend/src/pages/_app.tsx
  code/webauthn/frontend/src/pages/create-account.tsx
  code/webauthn/frontend/src/pages/index.tsx
  code/webauthn/frontend/src/pages/mint.tsx
  code/webauthn/frontend/src/pages/register.tsx
  code/webauthn/frontend/src/pages/transfer.tsx
  code/webauthn/frontend/src/styles/globals.css
  code/webauthn/frontend/utils/constants.ts
  code/webauthn/frontend/utils/getTransaction.ts
  code/webauthn/frontend/utils/tx.ts
  code/webauthn/frontend/utils/webauthn.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

docs: outline tutorial
  code/webauthn/README.md
  code/webauthn/contracts/contracts/Account.sol
  code/webauthn/contracts/deploy/deploy.ts
  code/webauthn/contracts/deploy/deployAndTransfer.ts
  code/webauthn/contracts/deploy/deployMyNFT.ts
  code/webauthn/contracts/deploy/deployPaymaster.ts
  code/webauthn/contracts/deploy/registerR1Owner.ts
  code/webauthn/frontend/package-lock.json
  code/webauthn/frontend/package.json
  code/webauthn/frontend/src/components/Layout.tsx
  code/webauthn/frontend/src/hooks/useAccount.tsx
  code/webauthn/frontend/src/pages/create-account.tsx
  code/webauthn/frontend/src/pages/index.tsx
  code/webauthn/frontend/src/pages/mint.tsx
  code/webauthn/frontend/src/pages/register.tsx
  code/webauthn/frontend/src/pages/transfer.tsx
  code/webauthn/frontend/utils/constants.ts
  code/webauthn/frontend/utils/sign.ts
  code/webauthn/frontend/utils/string.ts
  code/webauthn/frontend/utils/tx.ts
  code/webauthn/frontend/utils/webauthn.ts
  content/tutorials/guide-viem/_dir.yml
  content/tutorials/sign-with-webauthn/10.index.md
  content/tutorials/sign-with-webauthn/20.webauthn.md
  content/tutorials/sign-with-webauthn/_dir.yml
  content/tutorials/signing-transactions-with-webauthn/10.index.md
  content/tutorials/signing-transactions-with-webauthn/20.contracts.md
  content/tutorials/signing-transactions-with-webauthn/30.frontend.md
  content/tutorials/signing-transactions-with-webauthn/_dir.yml
  cspell-config/cspell-misc.txt
  public/videos/webauthn-demo.mp4
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: use latest zksync-contracts version
  content/tutorials/cross-chain-governance/10.index.md
  content/tutorials/daily-spend-limit-account/10.index.md
  content/tutorials/dapp-nft-paymaster/20.smart-contracts.md
  content/tutorials/erc20-paymaster/10.index.md
  content/tutorials/native-aa-multisig/10.index.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

docs: update webauthn tutorial draft
  code/webauthn/contracts/contracts/Account.sol
  code/webauthn/frontend/src/pages/create-account.tsx
  code/webauthn/frontend/src/pages/mint.tsx
  code/webauthn/frontend/utils/tx.ts
  code/webauthn/frontend/utils/webauthn.ts
  content/tutorials/erc20-paymaster/10.index.md
  content/tutorials/signing-transactions-with-webauthn/10.index.md
  content/tutorials/signing-transactions-with-webauthn/20.building-the-contracts.md
  content/tutorials/signing-transactions-with-webauthn/30.building-the-frontend.md
  content/tutorials/signing-transactions-with-webauthn/30.frontend.md
  content/tutorials/signing-transactions-with-webauthn/40.completing-the-frontend.md
  content/tutorials/signing-transactions-with-webauthn/_dir.yml
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

docs: cleanup webauthn tutorial
  content/tutorials/signing-transactions-with-webauthn/10.index.md
  content/tutorials/signing-transactions-with-webauthn/20.building-the-contracts.md
  content/tutorials/signing-transactions-with-webauthn/30.building-the-frontend.md
  content/tutorials/signing-transactions-with-webauthn/40.completing-the-frontend.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

docs: fix webauthn page descriptions
  content/tutorials/signing-transactions-with-webauthn/10.index.md
  content/tutorials/signing-transactions-with-webauthn/20.building-the-contracts.md
  content/tutorials/signing-transactions-with-webauthn/30.building-the-frontend.md
  content/tutorials/signing-transactions-with-webauthn/40.completing-the-frontend.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

docs: add test for multisig
  .github/workflows/playwright.yaml
  content/tutorials/native-aa-multisig/10.index.md
  tests/configs/config.ts
  tests/configs/native-aa-multisig.ts
  tests/native-aa-multisig.spec.ts
  tests/utils/files.ts
  tests/utils/setup.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

docs: update author
  content/tutorials/signing-transactions-with-webauthn/_dir.yml
Due: prettier --list-different

docs: use code imports and latest plugin
  code/multisig/.env.example
  code/multisig/.gitignore
  code/multisig/.npmrc
  code/multisig/LICENSE
  code/multisig/contracts/AAFactory.sol
  code/multisig/contracts/TwoUserMultisig.sol
  code/multisig/deploy/deploy-factory.ts
  code/multisig/deploy/deploy-multisig.ts
  code/multisig/hardhat.config.ts
  code/multisig/package-lock.json
  code/multisig/package.json
  code/multisig/template/Account.sol
  code/multisig/tsconfig.json
  content/tutorials/native-aa-multisig/10.index.md
  content/tutorials/native-aa-multisig/_dir.yml
  nuxt.config.ts
  server/plugins/content.ts
  tests/configs/native-aa-multisig.ts
  tsconfig.json
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

docs: fix test
  .github/workflows/playwright.yaml
  code/multisig/LICENSE
  tests/configs/native-aa-multisig.ts
  tests/utils/files.ts
  tests/utils/runTest.ts
  tests/utils/types.ts
Due: prettier --list-different, eslint

docs: fix test
  tests/configs/how-to-test-contracts.ts
  tests/utils/runCommand.ts
Due: prettier --list-different, eslint

fix: update docs-nuxt-template
  .husky/pre-commit
  bun.lockb
  package.json
Due: prettier --list-different

fix: update docs-nuxt-template (#77)
  .husky/pre-commit
  bun.lockb
  package.json
Due: prettier --list-different

Notes added by 'git notes add'
  72ad0221dda8fc4bd96ab9ca207bf49208b7b05d
Due: none

docs: fix hh test
  content/tutorials/how-to-test-contracts/10.index.md
  tests/configs/how-to-test-contracts.ts
  tests/utils/runCommand.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

chore: format sol code and fix comment
  .vscode/settings.json
  code/multisig/contracts/AAFactory.sol
  code/multisig/contracts/TwoUserMultisig.sol
Due: prettier --list-different

chore: remove formatter
  .vscode/settings.json
  code/multisig/contracts/AAFactory.sol
  code/multisig/contracts/TwoUserMultisig.sol
Due: prettier --list-different

chore: restore working commit
  code/multisig/contracts/TwoUserMultisig.sol
Due: none

docs: add test for webauthn
  .github/workflows/playwright.yaml
  code/webauthn/frontend/src/pages/api/get-authentication-options.ts
  code/webauthn/frontend/utils/webauthn.ts
  content/tutorials/signing-transactions-with-webauthn/20.building-the-contracts.md
  content/tutorials/signing-transactions-with-webauthn/30.building-the-frontend.md
  content/tutorials/signing-transactions-with-webauthn/40.completing-the-frontend.md
  playwright.config.ts
  server/plugins/content.ts
  tests/configs/config.ts
  tests/configs/signing-txns-with-webauthn.ts
  tests/signing-txns-with-webauthn.spec.ts
  tests/utils/runCommand.ts
  tests/utils/runTest.ts
  tests/utils/types.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: fix deploy script and apply feedback
  code/multisig/contracts/TwoUserMultisig.sol
  code/multisig/deploy/deploy-factory.ts
Due: prettier --list-different, eslint

chore: address feedback
  code/webauthn/contracts/.env.example
  code/webauthn/frontend/.env.example
  code/webauthn/frontend/public/next.svg
  code/webauthn/frontend/public/vercel.svg
  code/webauthn/frontend/src/pages/api/get-registration-options.ts
  code/webauthn/frontend/src/pages/create-account.tsx
  code/webauthn/frontend/src/pages/index.tsx
  code/webauthn/frontend/src/pages/mint.tsx
  code/webauthn/frontend/src/pages/register.tsx
  code/webauthn/frontend/utils/tx.ts
  code/webauthn/frontend/utils/webauthn.ts
  content/tutorials/signing-transactions-with-webauthn/20.building-the-contracts.md
  content/tutorials/signing-transactions-with-webauthn/30.building-the-frontend.md
  tests/configs/signing-txns-with-webauthn.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

docs: add clarifying note
  content/tutorials/signing-transactions-with-webauthn/20.building-the-contracts.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

docs: clarify webauthn details
  content/tutorials/signing-transactions-with-webauthn/10.index.md
  content/tutorials/signing-transactions-with-webauthn/20.building-the-contracts.md
  content/tutorials/signing-transactions-with-webauthn/30.building-the-frontend.md
  content/tutorials/signing-transactions-with-webauthn/40.completing-the-frontend.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

chore: update deployer
  code/webauthn/contracts/deploy/deploy.ts
  code/webauthn/contracts/hardhat.config.ts
  code/webauthn/contracts/package-lock.json
  code/webauthn/contracts/package.json
  content/tutorials/signing-transactions-with-webauthn/20.building-the-contracts.md
  tests/configs/signing-txns-with-webauthn.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

chore: use SmartAccount for registration
  code/webauthn/frontend/utils/tx.ts
Due: prettier --list-different, eslint

docs: add test for multisig tutorial (#76)
  .github/workflows/playwright.yaml
  code/multisig/.env.example
  code/multisig/.gitignore
  code/multisig/.npmrc
  code/multisig/contracts/AAFactory.sol
  code/multisig/contracts/TwoUserMultisig.sol
  code/multisig/deploy/deploy-factory.ts
  code/multisig/deploy/deploy-multisig.ts
  code/multisig/hardhat.config.ts
  code/multisig/package-lock.json
  code/multisig/package.json
  code/multisig/template/Account.sol
  code/multisig/tsconfig.json
  content/tutorials/how-to-test-contracts/10.index.md
  content/tutorials/native-aa-multisig/10.index.md
  content/tutorials/native-aa-multisig/_dir.yml
  nuxt.config.ts
  server/plugins/content.ts
  tests/configs/config.ts
  tests/configs/how-to-test-contracts.ts
  tests/configs/native-aa-multisig.ts
  tests/native-aa-multisig.spec.ts
  tests/utils/files.ts
  tests/utils/runCommand.ts
  tests/utils/runTest.ts
  tests/utils/setup.ts
  tests/utils/types.ts
  tsconfig.json
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

Notes added by 'git notes add'
  b46e8634fcdb04a68217165f1ae31dcc5c039407
Due: none

chore: address feedback
  code/webauthn/README.md
  code/webauthn/contracts/deploy/deploy.ts
  content/tutorials/signing-transactions-with-webauthn/10.index.md
  content/tutorials/signing-transactions-with-webauthn/20.building-the-contracts.md
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: revert register changes
  code/webauthn/frontend/utils/tx.ts
Due: prettier --list-different, eslint

Notes added by 'git notes add'
  888b43c2acf0c732cb6a72d978494542c2e94545
Due: none

fix: use video component
  assets/webauthn-demo.mp4
  components/InlineVideo.vue
  content/tutorials/signing-transactions-with-webauthn/10.index.md
  public/videos/webauthn-demo.mp4
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: use hardcoded url for now
  components/InlineVideo.vue
  content/tutorials/signing-transactions-with-webauthn/10.index.md
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: use video component (#81)
  assets/webauthn-demo.mp4
  components/InlineVideo.vue
  content/tutorials/signing-transactions-with-webauthn/10.index.md
  public/videos/webauthn-demo.mp4
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

Notes added by 'git notes add'
  f5ee6bcc4ebe084f57371400d03e6cdb82eae1b5
Due: none

fix: video encoding
  assets/webauthn-demo.mp4
Due: none

fix: video encoding (#82)
  assets/webauthn-demo.mp4
Due: none

Notes added by 'git notes add'
  b885244d5a5ff3c0640cb89479b069da94fe9290
Due: none
