Repository zkSync-Community-Hub/community-code: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

.lintstagedrc.yml:

'*.{js,ts,vue}':
  - prettier --list-different
  - eslint
'*.md':
  - markdownlint-cli2
  - cspell lint --quiet --no-must-find-files --files
'*.{json,yml}':
  - prettier --list-different

fix: tests for erc20 paymaster & contract testing
  .github/workflows/playwright.yaml
  bun.lockb
  code/erc20-paymaster/bun.lock
  code/erc20-paymaster/contracts/MyPaymaster.sol
  code/erc20-paymaster/hardhat.config.ts
  code/erc20-paymaster/package-lock.json
  code/erc20-paymaster/package.json
  code/test-contracts/.gitignore
  code/test-contracts/bun.lock
  code/test-contracts/contracts/Greeter.sol
  code/test-contracts/hardhat.config.ts
  code/test-contracts/package.json
  code/test-contracts/test/test.ts
  code/test-contracts/tsconfig.json
  content/tutorials/how-to-test-contracts/10.index.md
  package.json
  tests/configs/erc20-paymaster.ts
  tests/utils/files.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

chore: start updating multisig deps
  code/multisig/bun.lock
  code/multisig/hardhat.config.ts
  code/multisig/package-lock.json
  code/multisig/package.json
Due: prettier --list-different, eslint

feat: test action
  .github/workflows/playwright.yaml
  tests/configs/erc20-paymaster.ts
Due: prettier --list-different, eslint

chore: format
  .github/workflows/playwright.yaml
Due: none

fix: daily-spend-limit
  .github/workflows/playwright.yaml
  code/cross-chain-governance/L2-counter/scripts/increment-counter.ts
  code/daily-spend-limit/bun.lock
  code/daily-spend-limit/contracts/AAFactory.sol
  code/daily-spend-limit/contracts/Account.sol
  code/daily-spend-limit/hardhat.config.ts
  code/daily-spend-limit/package-lock.json
  code/daily-spend-limit/package.json
  code/daily-spend-limit/scripts/setLimit.ts
  code/daily-spend-limit/scripts/transferETH.ts
  code/erc20-paymaster/package.json
  tests/configs/daily-spend-limit.ts
Due: prettier --list-different, eslint

fix: test
  .github/workflows/playwright.yaml
  tests/configs/config.ts
  tests/configs/daily-spend-limit.ts
  tests/configs/how-to-test-contracts.ts
Due: prettier --list-different, eslint

chore: update multisig code
  code/multisig/bun.lock
  code/multisig/contracts/AAFactory.sol
  code/multisig/contracts/TwoUserMultisig.sol
  code/multisig/package.json
  code/multisig/scripts/deploy-multisig.ts
Due: prettier --list-different, eslint

chore: add back multisig test
  .github/workflows/playwright.yaml
  tests/configs/native-aa-multisig.ts
Due: prettier --list-different, eslint

fix: tests
  .github/workflows/playwright.yaml
  content/tutorials/erc20-paymaster/10.index.md
  package.json
  tests/configs/daily-spend-limit.ts
  tests/configs/native-aa-multisig.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: fixes, add frontend-paymaster test
  .github/workflows/playwright.yaml
  code/frontend-paymaster/contracts/bun.lock
  code/frontend-paymaster/contracts/contracts/paymasters/ApprovalPaymaster.sol
  code/frontend-paymaster/contracts/hardhat.config.ts
  code/frontend-paymaster/contracts/package-lock.json
  code/frontend-paymaster/contracts/package.json
  code/frontend-paymaster/contracts/scripts/paymaster.ts
  code/frontend-paymaster/frontend/bun.lock
  code/frontend-paymaster/frontend/package-lock.json
  code/frontend-paymaster/frontend/src/App.vue
  tests/configs/frontend-paymaster.ts
Due: prettier --list-different, eslint

chore: space
  .github/workflows/playwright.yaml
Due: none

fix: fixes, add webauthn test
  .github/workflows/playwright.yaml
  code/webauthn/README.md
  code/webauthn/contracts/bun.lock
  code/webauthn/contracts/contracts/AAFactory.sol
  code/webauthn/contracts/contracts/Account.sol
  code/webauthn/contracts/contracts/GeneralPaymaster.sol
  code/webauthn/contracts/hardhat.config.ts
  code/webauthn/contracts/package-lock.json
  code/webauthn/contracts/package.json
  code/webauthn/frontend/bun.lock
  tests/configs/frontend-paymaster.ts
  tests/configs/signing-txns-with-webauthn.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: config
  code/zk-game/contracts/bun.lock
  code/zk-game/contracts/contracts/GeneralPaymaster.sol
  code/zk-game/contracts/hardhat.config.ts
  code/zk-game/contracts/package-lock.json
  code/zk-game/contracts/package.json
  tests/configs/native-aa-multisig.ts
Due: prettier --list-different, eslint

fix: wait for setup
  .github/workflows/playwright.yaml
Due: none

fix: wait longer
  .github/workflows/playwright.yaml
Due: none

chore: add zk-game test, remove old test files
  .github/workflows/playwright.yaml
  bun.lockb
  code/zk-game/contracts/scripts/interact.ts
  package.json
  playwright.config.ts
  tests/configs/config.ts
  tests/configs/custom-zk-chain.ts
  tests/configs/zk-game.ts
  tests/custom-zk-chain.spec.ts
  tests/daily-spend-limit.spec.ts
  tests/erc20-paymaster.spec.ts
  tests/frontend-paymaster.spec.ts
  tests/how-to-test-contracts.spec.ts
  tests/native-aa-multisig.spec.ts
  tests/signing-txns-with-webauthn.spec.ts
  tests/utils/button.ts
  tests/utils/files.ts
  tests/utils/getTestActions.ts
  tests/utils/metamask.ts
  tests/utils/queries.ts
  tests/utils/runCommand.ts
  tests/utils/runTest.ts
  tests/utils/setup.ts
  tests/utils/visit.ts
  tests/utils/wallet-setup/config.ts
  tests/utils/wallet-setup/connected.setup.ts
  tests/utils/wallet-setup/testWithMetamask.ts
  tests/zk-game.spec.ts
Due: prettier --list-different, eslint

fix: zk-game test
  .github/workflows/playwright.yaml
  tests/configs/zk-game.ts
Due: prettier --list-different, eslint

fix: tests
  .github/workflows/playwright.yaml
  tests/configs/signing-txns-with-webauthn.ts
  tests/configs/zk-game.ts
Due: prettier --list-different, eslint

fix: fixes
  code/frontend-paymaster/frontend/src/App.vue
  code/webauthn/frontend/utils/tx.ts
  code/zk-game/contracts/scripts/interact.ts
  content/tutorials/signing-transactions-with-webauthn/40.completing-the-frontend.md
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: cleanup
  .github/workflows/playwright.yaml
  tests/configs/frontend-paymaster.ts
Due: prettier --list-different, eslint

fix: feedback cleanup
  code/daily-spend-limit/hardhat.config.ts
  code/daily-spend-limit/scripts/setLimit.ts
  code/erc20-paymaster/hardhat.config.ts
  code/frontend-paymaster/contracts/hardhat.config.ts
  code/multisig/hardhat.config.ts
  code/webauthn/contracts/hardhat.config.ts
  code/zk-game/contracts/hardhat.config.ts
Due: prettier --list-different, eslint

fix: test, gitignore
  code/test-contracts/.gitignore
  code/test-contracts/hardhat.config.ts
Due: prettier --list-different, eslint

Notes added by 'git notes add'
  ed4225b81604ca8a5f8fe31b76aab490a77add6e
Due: none

chore: bump SP1 version, fix link
  code/zk-game/Cargo.lock
  code/zk-game/backend/api/Cargo.toml
  code/zk-game/backend/elf/sp1_program
  code/zk-game/backend/script/Cargo.toml
  code/zk-game/backend/sp1_program/Cargo.toml
  code/zk-game/contracts/contracts/Groth16Verifier.sol
  code/zk-game/contracts/contracts/SP1VerifierGroth16.sol
  content/tutorials/build-a-zk-game/10.index.md
  content/tutorials/build-a-zk-game/20.building-the-contracts.md
  content/tutorials/build-a-zk-game/_dir.yml
Due: prettier --list-different, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: game test, deps
  code/zk-game/contracts/bun.lock
  code/zk-game/contracts/hardhat.config.ts
  code/zk-game/contracts/package.json
  code/zk-game/contracts/scripts/deploy-paymaster.ts
  tests/configs/zk-game.ts
Due: prettier --list-different, eslint

chore: bump SP1 version in ZK game tutorial (#133)
  code/zk-game/Cargo.lock
  code/zk-game/backend/api/Cargo.toml
  code/zk-game/backend/elf/sp1_program
  code/zk-game/backend/script/Cargo.toml
  code/zk-game/backend/sp1_program/Cargo.toml
  code/zk-game/contracts/bun.lock
  code/zk-game/contracts/contracts/Groth16Verifier.sol
  code/zk-game/contracts/contracts/SP1VerifierGroth16.sol
  code/zk-game/contracts/hardhat.config.ts
  code/zk-game/contracts/package.json
  code/zk-game/contracts/scripts/deploy-paymaster.ts
  content/tutorials/build-a-zk-game/10.index.md
  content/tutorials/build-a-zk-game/20.building-the-contracts.md
  content/tutorials/build-a-zk-game/_dir.yml
  tests/configs/zk-game.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

feat: add walletconnect test, update tutorial
  .github/workflows/playwright.yaml
  code/wagmi/public/favicon.ico
  code/walletconnect/.gitignore
  code/walletconnect/eslint.config.js
  code/walletconnect/index.html
  code/walletconnect/package.json
  code/walletconnect/src/App.tsx
  code/walletconnect/src/main.tsx
  code/walletconnect/src/vite-env.d.ts
  code/walletconnect/tsconfig.app.json
  code/walletconnect/tsconfig.json
  code/walletconnect/tsconfig.node.json
  code/walletconnect/vite.config.ts
  content/tutorials/guide-walletconnect/10.index.md
  content/tutorials/guide-walletconnect/_dir.yml
  cspell-config/cspell-blockchain.txt
  tests/configs/walletconnect.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: cleanup
  .github/workflows/playwright.yaml
  code/walletconnect/src/App.tsx
  content/tutorials/guide-walletconnect/10.index.md
  content/tutorials/guide-walletconnect/_dir.yml
Due: prettier --list-different, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

chore: add viem template code
  code/viem/.gitignore
  code/viem/eslint.config.js
  code/viem/index.html
  code/viem/package.json
  code/viem/src/App.tsx
  code/viem/src/main.tsx
  code/viem/src/vite-env.d.ts
  code/viem/tsconfig.app.json
  code/viem/tsconfig.json
  code/viem/tsconfig.node.json
  code/viem/vite.config.ts
Due: prettier --list-different, eslint

chore: update viem tutorial
  code/viem/.gitignore
  code/viem/package.json
  code/viem/src/App.tsx
  code/viem/src/components/Paymaster.tsx
  code/viem/src/components/Read.tsx
  code/viem/src/components/ReadContract.tsx
  code/viem/src/components/Write.tsx
  code/viem/src/utils/Greeter.json
  code/viem/src/utils/client.ts
  content/tutorials/guide-viem/10.index.md
  content/tutorials/guide-viem/_dir.yml
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

ci: add viem test
  .github/workflows/playwright.yaml
  code/viem/src/components/Paymaster.tsx
  code/viem/src/components/Write.tsx
  content/tutorials/guide-viem/10.index.md
  tests/configs/viem.ts
  tests/utils/types.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

chore: remove web3js tutorial
  content/tutorials/guide-web3js/10.index.md
  content/tutorials/guide-web3js/_dir.yml
  public/logos/web3js-icon.png
  public/logos/web3js.svg
Due: prettier --list-different, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: remove icons
  components/IconOrbit.vue
Due: prettier --list-different, eslint

fix: lint
  code/viem/src/components/Paymaster.tsx
  code/viem/src/components/Write.tsx
Due: none

chore: update wagmi code
  code/wagmi/.gitignore
  code/wagmi/bun.lock
  code/wagmi/bun.lockb
  code/wagmi/eslint.config.js
  code/wagmi/index.html
  code/wagmi/next.config.ts
  code/wagmi/package.json
  code/wagmi/public/favicon.ico
  code/wagmi/public/vite.svg
  code/wagmi/src/App.css
  code/wagmi/src/App.tsx
  code/wagmi/src/components/AccountTS.tsx
  code/wagmi/src/components/BalanceTS.tsx
  code/wagmi/src/components/BlockTS.tsx
  code/wagmi/src/components/ConnectWalletTS.tsx
  code/wagmi/src/components/ReadContractTS.tsx
  code/wagmi/src/components/SendTxPreparedTS.tsx
  code/wagmi/src/components/SendTxTS.tsx
  code/wagmi/src/components/ShowConnectors.tsx
  code/wagmi/src/components/ShowConnectorsTS.tsx
  code/wagmi/src/components/SignMessageTS.tsx
  code/wagmi/src/components/SignTypedDataTS.tsx
  code/wagmi/src/index.css
  code/wagmi/src/main.tsx
  code/wagmi/src/pages/_app.tsx
  code/wagmi/src/pages/_document.tsx
  code/wagmi/src/pages/index.tsx
  code/wagmi/src/vite-env.d.ts
  code/wagmi/tsconfig.app.json
  code/wagmi/tsconfig.json
  code/wagmi/tsconfig.node.json
  code/wagmi/vite.config.ts
Due: prettier --list-different, eslint

chore: remove image
  code/wagmi/public/vite.svg
Due: none

fix: format
  code/wagmi/index.html
Due: none

fix: test
  code/test-contracts/test/test.ts
Due: prettier --list-different, eslint
