Repository zkSync-Community-Hub/community-code: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

.lintstagedrc.yml:

'*.{js,ts,vue}':
  - prettier --list-different
  - eslint
'*.md':
  - markdownlint-cli2
  - cspell lint --quiet --no-must-find-files --files
'*.{json,yml}':
  - prettier --list-different

fix: remove demo video, fix link
  assets/webauthn-demo.mp4
  components/InlineVideo.vue
  content/tutorials/signing-transactions-with-webauthn/10.index.md
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: remove video & fix link (#83)
  assets/webauthn-demo.mp4
  components/InlineVideo.vue
  content/tutorials/signing-transactions-with-webauthn/10.index.md
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

Notes added by 'git notes add'
  50c14b0a7a6a8b08e5afb2cff008107e070f348c
Due: none

chore: update tutorial to reflect changes
  content/tutorials/custom-zk-chain/20.customizing-your-chain.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: should use CI action rather then install directly
  .github/workflows/playwright.yaml
Due: none

fix: should use CI action rather then install directly (#85)
  .github/workflows/playwright.yaml
Due: none

Notes added by 'git notes add'
  20129880ecd9a32c41dc20438005e00b3dfc66ca
Due: none

chore: update tutorial to reflect changes (#84)
  content/tutorials/custom-zk-chain/20.customizing-your-chain.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

feat: add Foundry and Era Test Node tutorial
  .husky/commit-msg
  content/tutorials/foundry-era-test-node/10.index.md
  content/tutorials/foundry-era-test-node/_dir.yml
Due: prettier --list-different, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

feat: add Foundry and Era Test Node tutorial
  .husky/commit-msg
Due: none

chore: test out commit
  content/tutorials/foundry-era-test-node/10.index.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

chore: add commitlint to validate commit messages
  content/tutorials/foundry-era-test-node/10.index.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: challenge validation
  code/webauthn/contracts/contracts/Account.sol
Due: none

fix: test prompt
  tests/configs/daily-spend-limit.ts
  tests/configs/erc20-paymaster.ts
Due: prettier --list-different, eslint

fix: remove force
  content/tutorials/erc20-paymaster/10.index.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: challenge validation (#88)
  code/webauthn/contracts/contracts/Account.sol
  content/tutorials/erc20-paymaster/10.index.md
  tests/configs/daily-spend-limit.ts
  tests/configs/erc20-paymaster.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

Notes added by 'git notes add'
  30ba8469055dd195178f57ffc9bada48c8230ae5
Due: none

chore: remove table of contents from foundry-era-test-node tutorial
  content/tutorials/foundry-era-test-node/10.index.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

chore: fix based on feedback
  content/tutorials/foundry-era-test-node/10.index.md
  content/tutorials/foundry-era-test-node/_dir.yml
Due: prettier --list-different, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

docs: add Foundry era test node tutorial (#87)
  content/tutorials/foundry-era-test-node/10.index.md
  content/tutorials/foundry-era-test-node/_dir.yml
Due: prettier --list-different, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

Notes added by 'git notes add'
  5e61a1835fb98768be1f98f36dc8eff703bb99f8
Due: none

chore: update renovate and dependencies
  .github/workflows/deploy-prod.yml
  .husky/pre-commit
  bun.lockb
  nuxt.config.ts
  package.json
  renovate.json
Due: prettier --list-different, eslint

chore(ci): add more to renovate
  renovate.json
Due: prettier --list-different

feat: update renovate and dependencies (#89)
  .github/workflows/deploy-prod.yml
  .husky/pre-commit
  bun.lockb
  nuxt.config.ts
  package.json
  renovate.json
Due: prettier --list-different, eslint

Notes added by 'git notes add'
  a122f9920b894f77f1d76a24b20c659465fde82f
Due: none

chore: update lock file
  bun.lockb
Due: none

fix: update playwright version
  bun.lockb
  package.json
Due: prettier --list-different

fix: test CI fix
  .github/workflows/playwright.yaml
Due: none

chore: add logs
  .github/workflows/playwright.yaml
  tests/utils/metamask.ts
Due: prettier --list-different, eslint

chore: debug
  .github/workflows/playwright.yaml
  tests/utils/metamask.ts
Due: prettier --list-different, eslint

chore: debug
  .github/workflows/playwright.yaml
  playwright.config.ts
  tests/utils/metamask.ts
Due: prettier --list-different, eslint

chore: debug
  tests/configs/frontend-paymaster.ts
  tests/utils/metamask.ts
  tests/utils/runTest.ts
Due: prettier --list-different, eslint

chore: debug2
  .github/workflows/playwright.yaml
  tests/utils/metamask.ts
  tests/utils/runTest.ts
Due: prettier --list-different, eslint

chore: debug2
  tests/utils/metamask.ts
Due: prettier --list-different, eslint

chore: debug2
  .github/workflows/playwright.yaml
  tests/utils/metamask.ts
Due: prettier --list-different, eslint

fix: wait for init
  content/tutorials/frontend-paymaster/10.index.md
  tests/configs/frontend-paymaster.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

docs: apply redesign ZK Toolbox commands
  content/tutorials/custom-zk-chain/10.index.md
  content/tutorials/custom-zk-chain/20.customizing-your-chain.md
  content/tutorials/custom-zk-chain/_dir.yml
Due: prettier --list-different, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: add zkstackup to dictionary
  cspell-config/cspell-zksync.txt
Due: none
