Repository zkSync-Community-Hub/community-code: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

.lintstagedrc.yml:

'*.{js,ts,vue}':
  - prettier --list-different
  - eslint
'*.md':
  - markdownlint-cli2
  - cspell lint --quiet --no-must-find-files --files
'*.{json,yml}':
  - prettier --list-different

fix: fixes for zk chain tutorial
  content/tutorials/custom-zk-chain/10.index.md
  content/tutorials/custom-zk-chain/20.customizing-your-chain.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: clarify steps
  content/tutorials/custom-zk-chain/20.customizing-your-chain.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: replace old commands with scripts
  code/custom-zk-chain/.env.example
  code/custom-zk-chain/.gitignore
  code/custom-zk-chain/bun.lockb
  code/custom-zk-chain/hardhat.config.ts
  code/custom-zk-chain/package.json
  code/custom-zk-chain/scripts/depositBaseToken.ts
  code/custom-zk-chain/scripts/depositETH.ts
  code/custom-zk-chain/tsconfig.json
  content/tutorials/custom-zk-chain/20.customizing-your-chain.md
  content/tutorials/custom-zk-chain/_dir.yml
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: review feedback
  code/cross-chain-governance/L2-counter/hardhat.config.ts
  code/custom-zk-chain/.gitignore
  code/custom-zk-chain/hardhat.config.ts
  code/custom-zk-chain/scripts/depositBaseToken.ts
  code/daily-spend-limit/hardhat.config.ts
  code/erc20-paymaster/hardhat.config.ts
  code/frontend-paymaster/contracts/hardhat.config.ts
  code/multisig/hardhat.config.ts
  code/webauthn/contracts/hardhat.config.ts
  code/zk-game/contracts/hardhat.config.ts
Due: prettier --list-different, eslint

fix: use utils
  code/custom-zk-chain/scripts/depositETH.ts
Due: prettier --list-different, eslint

chore: update feature list (#113)
  content/tutorials/permissionless-paymaster/_dir.yml
Due: prettier --list-different

fix: fixes for zk chain tutorial (#117)
  code/cross-chain-governance/L2-counter/hardhat.config.ts
  code/custom-zk-chain/.env.example
  code/custom-zk-chain/.gitignore
  code/custom-zk-chain/bun.lockb
  code/custom-zk-chain/hardhat.config.ts
  code/custom-zk-chain/package.json
  code/custom-zk-chain/scripts/depositBaseToken.ts
  code/custom-zk-chain/scripts/depositETH.ts
  code/custom-zk-chain/tsconfig.json
  code/daily-spend-limit/hardhat.config.ts
  code/erc20-paymaster/hardhat.config.ts
  code/frontend-paymaster/contracts/hardhat.config.ts
  code/multisig/hardhat.config.ts
  code/webauthn/contracts/hardhat.config.ts
  content/tutorials/custom-zk-chain/10.index.md
  content/tutorials/custom-zk-chain/20.customizing-your-chain.md
  content/tutorials/custom-zk-chain/_dir.yml
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

Notes added by 'git notes add'
  9694b904febe2eca3a517c049fdce0db5832b0f1
Due: none

Update content/tutorials/custom-zk-chain/10.index.md
  content/tutorials/custom-zk-chain/10.index.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

feat: add explorer and portal to zk chain getting started code guide (#104)
  content/tutorials/custom-zk-chain/10.index.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

Notes added by 'git notes add'
  9a5ce8f6066d8b5b74626e01fcf5dfd16061aa2f
Due: none

fix: type
  app.vue
Due: prettier --list-different, eslint

fix: type (#119)
  app.vue
Due: prettier --list-different, eslint

Notes added by 'git notes add'
  dc43998795cf7f95dcd4ea289690ab6072c25007
Due: none

feat: add anvil zksync guide tutorials
  content/tutorials/anvil-zksync-guide/10.index.md
  content/tutorials/anvil-zksync-guide/20.deploying-the-contracts.md
  content/tutorials/anvil-zksync-guide/30.interacting-l1-l2.md
  content/tutorials/anvil-zksync-guide/_dir.yml
Due: prettier --list-different, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: custom zk chain test
  content/tutorials/custom-zk-chain/10.index.md
  content/tutorials/custom-zk-chain/20.customizing-your-chain.md
  package.json
  playwright.config.ts
  tests/configs/custom-zk-chain.ts
  tests/configs/daily-spend-limit.ts
  tests/configs/erc20-paymaster.ts
  tests/configs/frontend-paymaster.ts
  tests/configs/native-aa-multisig.ts
  tests/configs/signing-txns-with-webauthn.ts
  tests/configs/zk-game.ts
  tests/custom-zk-chain.spec.ts
  tests/utils/files.ts
  tests/utils/runTest.ts
  tests/utils/types.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: bun lock
  bun.lockb
Due: none

feat: add dispatch workflow for test
  .github/workflows/zk-chain-test.yaml
Due: none

fix: cleanup
  content/tutorials/custom-zk-chain/10.index.md
  content/tutorials/custom-zk-chain/20.customizing-your-chain.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

test: try running test
  .github/workflows/zk-chain-test.yaml
Due: none

fix: add dependencies
  .github/workflows/zk-chain-test.yaml
Due: none

fix: dep
  .github/workflows/zk-chain-test.yaml
Due: none

fix: deps
  .github/workflows/zk-chain-test.yaml
Due: none

fix: add time
  .github/workflows/zk-chain-test.yaml
  tests/configs/custom-zk-chain.ts
  tests/custom-zk-chain.spec.ts
Due: prettier --list-different, eslint

fix: remove workflow
  .github/workflows/zk-chain-test.yaml
Due: none

docs: progress
  code/cross-chain-tx/.env.example
  code/cross-chain-tx/.gitignore
  code/cross-chain-tx/.npmrc
  code/cross-chain-tx/bun.lockb
  code/cross-chain-tx/contracts/Greeter.sol
  code/cross-chain-tx/hardhat.config.ts
  code/cross-chain-tx/package-lock.json
  code/cross-chain-tx/package.json
  code/cross-chain-tx/scripts/deploy.ts
  code/cross-chain-tx/scripts/l1tol2tx.ts
  code/cross-chain-tx/tsconfig.json
  content/tutorials/cross-chain-governance/_partials/_local.md
  content/tutorials/dapp-nft-paymaster/10.index.md
  content/tutorials/erc20-paymaster/10.index.md
  content/tutorials/how-to-deploy-contract/10.index.md
  content/tutorials/how-to-send-l1-l2-transaction/10.index.md
  content/tutorials/how-to-send-l1-l2-transaction/_dir.yml
  content/tutorials/how-to-send-l1-l2-transaction/_partials/_intro.md
  content/tutorials/how-to-send-l1-l2-transaction/_partials/_local.md
  content/tutorials/how-to-send-l1-l2-transaction/_partials/_main.md
  content/tutorials/how-to-send-l1-l2-transaction/_partials/_reqs.md
  content/tutorials/how-to-send-l1-l2-transaction/_partials/_testnet.md
  content/tutorials/how-to-send-l1-l2-transaction/_partials/_testnet_main.md
  content/tutorials/how-to-send-l1-l2-transaction/_partials/_testnet_reqs.md
  content/tutorials/how-to-withdraw-erc20/10.index.md
  content/tutorials/how-to-withdraw-eth/10.index.md
  content/tutorials/native-aa-multisig/10.index.md
  content/tutorials/permissionless-paymaster/10.index.md
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: add time
  playwright.config.ts
Due: prettier --list-different, eslint

feat: add anvil zksync guide tutorials
  code/l1-l2-tutorial/README.md
  code/l1-l2-tutorial/l1-access/.env-example
  code/l1-l2-tutorial/l1-access/.gitignore
  code/l1-l2-tutorial/l1-access/foundry.toml
  code/l1-l2-tutorial/l1-access/remappings.txt
  code/l1-l2-tutorial/l1-access/script/DeployAccessKey.s.sol
  code/l1-l2-tutorial/l1-access/script/UnlockVaultFromL1.s.sol
  code/l1-l2-tutorial/l1-access/soldeer.lock
  code/l1-l2-tutorial/l1-access/src/AccessKey.sol
  code/l1-l2-tutorial/l2-vault/.env-example
  code/l1-l2-tutorial/l2-vault/.gitignore
  code/l1-l2-tutorial/l2-vault/foundry.toml
  code/l1-l2-tutorial/l2-vault/remappings.txt
  code/l1-l2-tutorial/l2-vault/script/DeployVault.s.sol
  code/l1-l2-tutorial/l2-vault/soldeer.lock
  code/l1-l2-tutorial/l2-vault/src/Vault.sol
  content/tutorials/anvil-zksync-guide/20.deploying-the-contracts.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

docs: updated tutorial
  code/cross-chain-tx/hardhat.config.ts
  code/cross-chain-tx/scripts/interact.ts
  code/cross-chain-tx/scripts/l1tol2tx.ts
  content/tutorials/how-to-send-l1-l2-transaction/_partials/_local.md
  content/tutorials/how-to-send-l1-l2-transaction/_partials/_main.md
  content/tutorials/how-to-send-l1-l2-transaction/_partials/_run.md
  content/tutorials/how-to-send-l1-l2-transaction/_partials/_testnet.md
  content/tutorials/how-to-send-l1-l2-transaction/_partials/_testnet_main.md
  content/tutorials/how-to-send-l1-l2-transaction/_partials/_testnet_reqs.md
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: cut wait time
  tests/utils/runCommand.ts
Due: prettier --list-different, eslint

fix: add time
  tests/utils/runCommand.ts
Due: prettier --list-different, eslint

fix: add time
  .github/workflows/playwright.yaml
Due: none

fix: try again
  .github/workflows/playwright.yaml
Due: none

chore: add test for custom zk chain (#105)
  .github/workflows/playwright.yaml
  bun.lockb
  content/tutorials/custom-zk-chain/10.index.md
  content/tutorials/custom-zk-chain/20.customizing-your-chain.md
  package.json
  playwright.config.ts
  tests/configs/config.ts
  tests/configs/custom-zk-chain.ts
  tests/configs/daily-spend-limit.ts
  tests/configs/erc20-paymaster.ts
  tests/configs/frontend-paymaster.ts
  tests/configs/native-aa-multisig.ts
  tests/configs/signing-txns-with-webauthn.ts
  tests/configs/zk-game.ts
  tests/custom-zk-chain.spec.ts
  tests/utils/files.ts
  tests/utils/runCommand.ts
  tests/utils/runTest.ts
  tests/utils/types.ts
  tsconfig.json
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

chore: import code snippets for l1-l2 txn tutorial (#122)
  code/cross-chain-tx/.env.example
  code/cross-chain-tx/.gitignore
  code/cross-chain-tx/.npmrc
  code/cross-chain-tx/bun.lockb
  code/cross-chain-tx/contracts/Greeter.sol
  code/cross-chain-tx/hardhat.config.ts
  code/cross-chain-tx/package-lock.json
  code/cross-chain-tx/package.json
  code/cross-chain-tx/scripts/deploy.ts
  code/cross-chain-tx/scripts/interact.ts
  code/cross-chain-tx/scripts/l1tol2tx.ts
  code/cross-chain-tx/tsconfig.json
  content/tutorials/cross-chain-governance/_partials/_local.md
  content/tutorials/dapp-nft-paymaster/10.index.md
  content/tutorials/erc20-paymaster/10.index.md
  content/tutorials/how-to-deploy-contract/10.index.md
  content/tutorials/how-to-send-l1-l2-transaction/10.index.md
  content/tutorials/how-to-send-l1-l2-transaction/_dir.yml
  content/tutorials/how-to-send-l1-l2-transaction/_partials/_intro.md
  content/tutorials/how-to-send-l1-l2-transaction/_partials/_local.md
  content/tutorials/how-to-send-l1-l2-transaction/_partials/_main.md
  content/tutorials/how-to-send-l1-l2-transaction/_partials/_reqs.md
  content/tutorials/how-to-send-l1-l2-transaction/_partials/_run.md
  content/tutorials/how-to-send-l1-l2-transaction/_partials/_testnet.md
  content/tutorials/how-to-withdraw-erc20/10.index.md
  content/tutorials/how-to-withdraw-eth/10.index.md
  content/tutorials/native-aa-multisig/10.index.md
  content/tutorials/permissionless-paymaster/10.index.md
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files
