Repository zkSync-Community-Hub/community-code: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

.lintstagedrc.yml:

'*.{js,ts,vue}':
  - prettier --list-different
  - eslint
'*.md':
  - markdownlint-cli2
  - cspell lint --quiet --no-must-find-files --files
'*.{json,yml}':
  - prettier --list-different

feat: align header links with docs restructure
  app.vue
  error.vue
  header-links.ts
Due: prettier --list-different, eslint

feat: align header links with docs restructure (#103)
  app.vue
  error.vue
  header-links.ts
Due: prettier --list-different, eslint

Notes added by 'git notes add'
  ebf27535ed8b650b0def7afc54bef7184bc2cd74
Due: none

feat: add explorer and portal to guide
  .husky/commit-msg
  content/tutorials/custom-zk-chain/10.index.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

feat: add explorer and portal to zk chain guide
  content/tutorials/custom-zk-chain/10.index.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: husky accidental push
  .husky/commit-msg
Due: none

chore: start adding test for custom zk chain
  content/tutorials/custom-zk-chain/10.index.md
  content/tutorials/custom-zk-chain/20.customizing-your-chain.md
  content/tutorials/custom-zk-chain/_dir.yml
  playwright.config.ts
  tests/configs/config.ts
  tests/configs/custom-zk-chain.ts
  tests/custom-zk-chain.spec.ts
  tests/utils/runCommand.ts
  tests/utils/runTest.ts
  tests/utils/types.ts
  tsconfig.json
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

feat: add web3js paymaster dapp tutorial
  content/tutorials/web3js-paymaster-tutorial/10.index.md
  content/tutorials/web3js-paymaster-tutorial/_dir.yml
Due: prettier --list-different, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: update workflow
  .github/workflows/playwright.yaml
Due: none

fix: lint & install
  .github/workflows/playwright.yaml
  code/zk-game/frontend/src/components/Brickles.tsx
  code/zk-game/frontend/src/components/HighScores.tsx
  code/zk-game/frontend/src/components/SystemDisk.tsx
Due: none

fix: try fix
  .github/workflows/playwright.yaml
  code/zk-game/frontend/src/components/Brickles.tsx
Due: none

fix: try fix
  .github/workflows/playwright.yaml
  content/tutorials/build-a-zk-game/20.building-the-contracts.md
  tests/configs/zk-game.ts
  tests/utils/button.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

chore: update inmemorynode name
  tests/configs/daily-spend-limit.ts
  tests/configs/erc20-paymaster.ts
  tests/configs/frontend-paymaster.ts
  tests/configs/native-aa-multisig.ts
Due: prettier --list-different, eslint

fix: other tests
  code/multisig/hardhat.config.ts
  content/tutorials/daily-spend-limit-account/10.index.md
  content/tutorials/how-to-test-contracts/10.index.md
  content/tutorials/native-aa-multisig/10.index.md
  tests/configs/daily-spend-limit.ts
  tests/configs/native-aa-multisig.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: prove command
  content/tutorials/build-a-zk-game/30.writing-the-program.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

chore: use anvilzksync
  .github/workflows/playwright.yaml
Due: none

fix: action
  .github/workflows/playwright.yaml
Due: none

fix: fix path on install
  .github/workflows/playwright.yaml
Due: none

chore: debug
  .github/workflows/playwright.yaml
  content/tutorials/signing-transactions-with-webauthn/20.building-the-contracts.md
  tests/configs/signing-txns-with-webauthn.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

chore: debug
  tests/configs/signing-txns-with-webauthn.ts
Due: prettier --list-different, eslint

chore: fix
  tests/configs/zk-game.ts
Due: prettier --list-different, eslint

chore: remove broken steps for now
  tests/configs/signing-txns-with-webauthn.ts
Due: prettier --list-different, eslint

chore: cleanup
  .github/workflows/playwright.yaml
  code/zk-game/contracts/contracts/Brickles.sol
  code/zk-game/contracts/contracts/Groth16Verifier.sol
  code/zk-game/contracts/contracts/SP1VerifierGroth16.sol
  content/tutorials/build-a-zk-game/10.index.md
  content/tutorials/build-a-zk-game/20.building-the-contracts.md
  content/tutorials/build-a-zk-game/30.writing-the-program.md
  content/tutorials/build-a-zk-game/40.building-the-frontend.md
  content/tutorials/build-a-zk-game/_dir.yml
  public/images/zk-game/zk-game-flow-chart.png
  public/images/zk-game/zk-game.png
  tests/configs/frontend-paymaster.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

chore: use native hh deploy
  code/zk-game/contracts/deploy/deploy-game.ts
  code/zk-game/contracts/deploy/deploy-paymaster.ts
  code/zk-game/contracts/deploy/deploy-verifier.ts
  code/zk-game/contracts/deploy/interact.ts
  code/zk-game/contracts/deploy/utils.ts
  tests/configs/zk-game.ts
Due: prettier --list-different, eslint

docs: improve ZK intro
  content/tutorials/build-a-zk-game/10.index.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

Apply suggestions from code review
  content/tutorials/build-a-zk-game/10.index.md
  content/tutorials/build-a-zk-game/20.building-the-contracts.md
  content/tutorials/build-a-zk-game/30.writing-the-program.md
  content/tutorials/build-a-zk-game/40.building-the-frontend.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

docs: add suggestions
  content/tutorials/build-a-zk-game/10.index.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: remove unused file in command
  content/tutorials/build-a-zk-game/20.building-the-contracts.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

chore: updated date
  content/tutorials/build-a-zk-game/_dir.yml
Due: prettier --list-different

chore: remove game stuff
  .github/workflows/playwright.yaml
  tests/configs/config.ts
  tests/configs/zk-game.ts
  tests/zk-game.spec.ts
Due: prettier --list-different, eslint

chore: remove game stuff
  components/content/CenteredContainer.vue
  cspell-config/cspell-blockchain.txt
  cspell-config/cspell-misc.txt
  public/images/zk-game/zk-game-flow-chart.png
  public/images/zk-game/zk-game.png
  tests/utils/button.ts
Due: prettier --list-different, eslint

chore: updates for new CLI template
  code/zk-game/contracts/.env.example
  code/zk-game/contracts/bun.lockb
  code/zk-game/contracts/deploy/deploy-paymaster.ts
  code/zk-game/contracts/deploy/deploy-verifier.ts
  code/zk-game/contracts/hardhat.config.ts
  code/zk-game/contracts/package-lock.json
  code/zk-game/contracts/package.json
  code/zk-game/contracts/scripts/deploy-game.ts
  code/zk-game/contracts/scripts/deploy-paymaster.ts
  code/zk-game/contracts/scripts/deploy-verifier.ts
  code/zk-game/contracts/scripts/interact.ts
  content/tutorials/build-a-zk-game/20.building-the-contracts.md
  content/tutorials/build-a-zk-game/30.writing-the-program.md
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

chore: temp hide cross-chain tutorial
  content/tutorials/cross-chain-governance/10.index.md
  content/tutorials/cross-chain-governance/_dir.yml
  content/tutorials/guide-walletconnect/_dir.yml
Due: prettier --list-different, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: comment back in test steps
  tests/configs/signing-txns-with-webauthn.ts
Due: prettier --list-different, eslint

fix: test configs
  tests/configs/daily-spend-limit.ts
  tests/configs/native-aa-multisig.ts
Due: prettier --list-different, eslint

fix: test
  content/tutorials/build-a-zk-game/10.index.md
  content/tutorials/build-a-zk-game/20.building-the-contracts.md
  tests/configs/zk-game.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files
