Repository zkSync-Community-Hub/community-code: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

.lintstagedrc.yml:

'*.{js,ts,vue}':
  - prettier --list-different
  - eslint
'*.md':
  - markdownlint-cli2
  - cspell lint --quiet --no-must-find-files --files
'*.{json,yml}':
  - prettier --list-different

chore: cleanup files
  code/frontend-paymaster/OLD/.env.example
  code/frontend-paymaster/OLD/.gitignore
  code/frontend-paymaster/OLD/.npmrc
  code/frontend-paymaster/OLD/contracts/Greeter.sol
  code/frontend-paymaster/OLD/contracts/erc20/MyERC20Token.sol
  code/frontend-paymaster/OLD/contracts/paymasters/ApprovalPaymaster.sol
  code/frontend-paymaster/OLD/deploy/deploy.ts
  code/frontend-paymaster/OLD/deploy/erc20/deploy.ts
  code/frontend-paymaster/OLD/deploy/paymaster.ts
  code/frontend-paymaster/OLD/deploy/utils.ts
  code/frontend-paymaster/OLD/hardhat.config.ts
  code/frontend-paymaster/OLD/package-lock.json
  code/frontend-paymaster/OLD/package.json
  code/frontend-paymaster/OLD/tsconfig.json
Due: prettier --list-different, eslint

chore: fix link
  content/tutorials/build-a-zk-game/10.index.md
  content/tutorials/build-a-zk-game/_dir.yml
Due: prettier --list-different, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: clarify and fix paths
  code/zk-game/backend/api/src/main.rs
  code/zk-game/backend/script/src/main.rs
  content/tutorials/build-a-zk-game/10.index.md
  content/tutorials/build-a-zk-game/20.building-the-contracts.md
  content/tutorials/build-a-zk-game/30.writing-the-program.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

docs: clarify
  content/tutorials/build-a-zk-game/40.building-the-frontend.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

chore: simplify factory deployments
  code/daily-spend-limit/scripts/deploy.ts
  code/multisig/scripts/deploy-factory.ts
  code/webauthn/contracts/scripts/deploy.ts
Due: prettier --list-different, eslint

Revert "chore: simplify factory deployments"
  code/daily-spend-limit/scripts/deploy.ts
  code/multisig/scripts/deploy-factory.ts
  code/webauthn/contracts/scripts/deploy.ts
Due: prettier --list-different, eslint

chore: date
  content/tutorials/build-a-zk-game/_dir.yml
Due: prettier --list-different

Notes added by 'git notes add'
  df4b74f8fc6117a2c35e92bc1dd7f9cf66f66cc5
Due: none

chore: improve game UX
  code/zk-game/backend/api/Cargo.toml
  code/zk-game/backend/api/src/main.rs
  code/zk-game/backend/elf/sp1_program
  code/zk-game/backend/script/src/main.rs
  code/zk-game/backend/sp1_program/src/main.rs
  code/zk-game/contracts/.env.example
  code/zk-game/contracts/package.json
  code/zk-game/contracts/scripts/deploy-paymaster.ts
  code/zk-game/frontend/.env.example
  code/zk-game/frontend/src/components/Brickles.tsx
  code/zk-game/frontend/src/utils/constants.ts
  code/zk-game/frontend/src/utils/proofs.ts
  code/zk-game/frontend/src/utils/wagmi-config.ts
Due: prettier --list-different, eslint

chore: remove warning about proof time
  content/tutorials/build-a-zk-game/40.building-the-frontend.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

chore: lint
  code/zk-game/backend/api/src/main.rs
Due: none

chore: lint
  code/zk-game/frontend/src/components/Brickles.tsx
Due: none

chore: improve error
  code/zk-game/frontend/src/utils/proofs.ts
Due: prettier --list-different, eslint

fix: typo
  content/tutorials/build-a-zk-game/40.building-the-frontend.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

chore: improve zk game UX (#110)
  code/zk-game/backend/api/Cargo.toml
  code/zk-game/backend/api/src/main.rs
  code/zk-game/backend/elf/sp1_program
  code/zk-game/backend/script/src/main.rs
  code/zk-game/backend/sp1_program/src/main.rs
  code/zk-game/contracts/.env.example
  code/zk-game/contracts/package.json
  code/zk-game/contracts/scripts/deploy-paymaster.ts
  code/zk-game/frontend/.env.example
  code/zk-game/frontend/src/components/Brickles.tsx
  code/zk-game/frontend/src/utils/constants.ts
  code/zk-game/frontend/src/utils/proofs.ts
  code/zk-game/frontend/src/utils/wagmi-config.ts
  content/tutorials/build-a-zk-game/40.building-the-frontend.md
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: fix broken link, cleanup zk chain prereqs
  content/tutorials/custom-zk-chain/10.index.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: use newer link
  content/tutorials/custom-zk-chain/10.index.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

Apply suggestions from code review
  content/tutorials/custom-zk-chain/10.index.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

feat: adds foundyr-zksync paymaster usage guide
  code/zk-paymaster/.gitignore
  code/zk-paymaster/README.md
  code/zk-paymaster/foundry.toml
  code/zk-paymaster/remappings.txt
  code/zk-paymaster/script/Counter.s.sol
  code/zk-paymaster/script/GaslessPaymaster.s.sol
  code/zk-paymaster/soldeer.lock
  code/zk-paymaster/src/Counter.sol
  code/zk-paymaster/src/GaslessPaymaster.sol
  code/zk-paymaster/test/Counter.t.sol
  content/tutorials/paymaster-foundry-guide/10.index.md
  content/tutorials/paymaster-foundry-guide/20.building-the-contracts.md
  content/tutorials/paymaster-foundry-guide/30.interacting-cast-paymaster.md
  content/tutorials/paymaster-foundry-guide/_dir.yml
Due: prettier --list-different, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

feat: adds foundyr-zksync paymaster usage guide
  content/tutorials/paymaster-foundry-guide/20.building-the-contracts.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

feat: adds foundyr-zksync paymaster usage guide
  content/tutorials/paymaster-foundry-guide/20.building-the-contracts.md
  content/tutorials/paymaster-foundry-guide/_dir.yml
Due: prettier --list-different, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: fix broken link, cleanup zk chain prereqs (#111)
  content/tutorials/custom-zk-chain/10.index.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

Notes added by 'git notes add'
  0c428896f8978443ef1f27cd1a6141f90dc06cc5
Due: none

Apply suggestions from code review
  content/tutorials/paymaster-foundry-guide/30.interacting-cast-paymaster.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

Apply suggestions from code review
  content/tutorials/paymaster-foundry-guide/_dir.yml
Due: prettier --list-different

feat: adds foundyr-zksync paymaster usage guide (#112)
  code/zk-paymaster/.gitignore
  code/zk-paymaster/README.md
  code/zk-paymaster/foundry.toml
  code/zk-paymaster/remappings.txt
  code/zk-paymaster/script/Counter.s.sol
  code/zk-paymaster/script/GaslessPaymaster.s.sol
  code/zk-paymaster/soldeer.lock
  code/zk-paymaster/src/Counter.sol
  code/zk-paymaster/src/GaslessPaymaster.sol
  code/zk-paymaster/test/Counter.t.sol
  content/tutorials/paymaster-foundry-guide/10.index.md
  content/tutorials/paymaster-foundry-guide/20.building-the-contracts.md
  content/tutorials/paymaster-foundry-guide/30.interacting-cast-paymaster.md
  content/tutorials/paymaster-foundry-guide/_dir.yml
Due: prettier --list-different, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

Notes added by 'git notes add'
  d6ca74c86a651eea07808591040f89e96aecda1f
Due: none

chore: update feature list
  content/tutorials/permissionless-paymaster/_dir.yml
Due: prettier --list-different

fix: fix cross chain script
  code/cross-chain-governance/L1-governance/contracts/Governance.sol
  code/cross-chain-governance/L1-governance/package-lock.json
  code/cross-chain-governance/L1-governance/package.json
  code/cross-chain-governance/L2-counter/hardhat.config.ts
  code/cross-chain-governance/L2-counter/package.json
  code/cross-chain-governance/L2-counter/scripts/increment-counter.ts
  content/tutorials/cross-chain-governance/20.L2-contract.md
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

chore: update cross chain tutorial
  code/cross-chain-governance/L1-governance/localenv.example
  code/cross-chain-governance/L2-counter/scripts/increment-counter.ts
  content/tutorials/cross-chain-governance/10.index.md
  content/tutorials/cross-chain-governance/20.L2-contract.md
  content/tutorials/cross-chain-governance/30.cross-chain-transactions.md
  content/tutorials/cross-chain-governance/_dir.yml
  content/tutorials/cross-chain-governance/_partials/_deploy.md
  content/tutorials/cross-chain-governance/_partials/_intro.md
  content/tutorials/cross-chain-governance/_partials/_l2_contract.md
  content/tutorials/cross-chain-governance/_partials/_l2_contract_2.md
  content/tutorials/cross-chain-governance/_partials/_local.md
  content/tutorials/cross-chain-governance/_partials/_local_2.md
  content/tutorials/cross-chain-governance/_partials/_testnet.md
  content/tutorials/cross-chain-governance/_partials/_testnet_2.md
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

chore: remove extra featured tutorial
  content/tutorials/erc20-paymaster/_dir.yml
Due: prettier --list-different

fix: fix cross chain tutorial (#114)
  code/cross-chain-governance/L1-governance/contracts/Governance.sol
  code/cross-chain-governance/L1-governance/localenv.example
  code/cross-chain-governance/L1-governance/package-lock.json
  code/cross-chain-governance/L1-governance/package.json
  code/cross-chain-governance/L2-counter/hardhat.config.ts
  code/cross-chain-governance/L2-counter/package.json
  code/cross-chain-governance/L2-counter/scripts/increment-counter.ts
  content/tutorials/cross-chain-governance/10.index.md
  content/tutorials/cross-chain-governance/20.L2-contract.md
  content/tutorials/cross-chain-governance/30.cross-chain-transactions.md
  content/tutorials/cross-chain-governance/_dir.yml
  content/tutorials/cross-chain-governance/_partials/_deploy.md
  content/tutorials/cross-chain-governance/_partials/_intro.md
  content/tutorials/cross-chain-governance/_partials/_l2_contract.md
  content/tutorials/cross-chain-governance/_partials/_l2_contract_2.md
  content/tutorials/cross-chain-governance/_partials/_local.md
  content/tutorials/cross-chain-governance/_partials/_local_2.md
  content/tutorials/cross-chain-governance/_partials/_testnet.md
  content/tutorials/cross-chain-governance/_partials/_testnet_2.md
  content/tutorials/erc20-paymaster/_dir.yml
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

Notes added by 'git notes add'
  6d90396e9ff49a69cbd082656af8063fc59f6cfa
Due: none

fix: winning zk game, time format, minor typos
  code/cross-chain-governance/L2-counter/scripts/increment-counter.ts
  code/zk-game/backend/elf/sp1_program
  code/zk-game/frontend/src/components/HighScores.tsx
  code/zk-game/game_lib/src/lib.rs
  content/tutorials/cross-chain-governance/_partials/_local.md
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

chore: add live demo link
  content/tutorials/build-a-zk-game/10.index.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: winning zk game, time format, minor typos (#115)
  code/cross-chain-governance/L2-counter/scripts/increment-counter.ts
  code/zk-game/backend/elf/sp1_program
  code/zk-game/frontend/src/components/HighScores.tsx
  code/zk-game/game_lib/src/lib.rs
  content/tutorials/build-a-zk-game/10.index.md
  content/tutorials/cross-chain-governance/_partials/_local.md
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

Notes added by 'git notes add'
  88c45bd1327191a4cac8874815d4ea71b2d7abce
Due: none
