Repository zkSync-Community-Hub/community-code: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

.lintstagedrc.yml:

'*.{js,ts,vue}':
  - prettier --list-different
  - eslint
'*.md':
  - markdownlint-cli2
  - cspell lint --quiet --no-must-find-files --files
'*.{json,yml}':
  - prettier --list-different

fix: remove trailing whitespaces
  content/tutorials/custom-zk-chain/10.index.md
  content/tutorials/custom-zk-chain/20.customizing-your-chain.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

Update content/tutorials/custom-zk-chain/10.index.md
  content/tutorials/custom-zk-chain/10.index.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: specify full command
  content/tutorials/custom-zk-chain/20.customizing-your-chain.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

docs(zkstack_cli): apply redesign ZK Toolbox commands (#96)
  content/tutorials/custom-zk-chain/10.index.md
  content/tutorials/custom-zk-chain/20.customizing-your-chain.md
  content/tutorials/custom-zk-chain/_dir.yml
  cspell-config/cspell-zksync.txt
Due: prettier --list-different, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

Notes added by 'git notes add'
  4016397ded2e8c267a1a7432eda324b26451fd2c
Due: none

chore: revert debug
  content/tutorials/frontend-paymaster/10.index.md
  tests/configs/frontend-paymaster.ts
  tests/utils/metamask.ts
  tests/utils/runTest.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: try fix
  content/tutorials/frontend-paymaster/10.index.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: use set compiler version
  content/tutorials/frontend-paymaster/10.index.md
  tests/configs/frontend-paymaster.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

chore: remove fix
  content/tutorials/frontend-paymaster/10.index.md
  tests/configs/frontend-paymaster.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: try fix
  tests/utils/metamask.ts
  tests/utils/runTest.ts
Due: prettier --list-different, eslint

chore: debug
  tests/utils/metamask.ts
Due: prettier --list-different, eslint

chore: debug
  tests/utils/button.ts
  tests/utils/metamask.ts
  tests/utils/runTest.ts
Due: prettier --list-different, eslint

chore: debug
  content/tutorials/frontend-paymaster/10.index.md
  playwright.config.ts
  tests/configs/frontend-paymaster.ts
  tests/utils/button.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

chore: try fix
  tests/configs/frontend-paymaster.ts
Due: prettier --list-different, eslint

chore: debug
  tests/utils/button.ts
Due: prettier --list-different, eslint

chore: debug
  tests/utils/metamask.ts
  tests/utils/runTest.ts
Due: prettier --list-different, eslint

chore: cleanup
  .github/workflows/playwright.yaml
  tests/utils/button.ts
Due: prettier --list-different, eslint

fix: matrix paths
  .github/workflows/playwright.yaml
Due: none

docs: cleanup frontend paymaster tutorial
  content/tutorials/frontend-paymaster/10.index.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

Notes added by 'git notes add'
  a8e7a6c9b4b62a838afa5204a44d882913ae1bd0
Due: none

feat: add filtering
  content/tutorials/cross-chain-governance/_dir.yml
  content/tutorials/custom-zk-chain/_dir.yml
  content/tutorials/daily-spend-limit-account/_dir.yml
  content/tutorials/dapp-nft-paymaster/_dir.yml
  content/tutorials/erc20-paymaster/_dir.yml
  content/tutorials/foundry-era-test-node/_dir.yml
  content/tutorials/frontend-paymaster/_dir.yml
  content/tutorials/guide-subquery/_dir.yml
  content/tutorials/guide-the-graph/_dir.yml
  content/tutorials/guide-walletconnect/_dir.yml
  content/tutorials/guide-web3js/_dir.yml
  content/tutorials/how-to-deposit-erc20/_dir.yml
  content/tutorials/how-to-deposit-eth/_dir.yml
  content/tutorials/how-to-send-l1-l2-transaction/_dir.yml
  content/tutorials/how-to-send-l2-l1-message/_dir.yml
  content/tutorials/how-to-withdraw-eth/_dir.yml
  content/tutorials/native-aa-multisig/_dir.yml
  content/tutorials/permissionless-paymaster/_dir.yml
  content/tutorials/signing-transactions-with-webauthn/_dir.yml
  pages/tutorials/index.vue
Due: prettier --list-different, eslint

fix: test
  tests/configs/signing-txns-with-webauthn.ts
Due: prettier --list-different, eslint

feat: add filtering (#97)
  content/tutorials/cross-chain-governance/_dir.yml
  content/tutorials/custom-zk-chain/_dir.yml
  content/tutorials/daily-spend-limit-account/_dir.yml
  content/tutorials/dapp-nft-paymaster/_dir.yml
  content/tutorials/erc20-paymaster/_dir.yml
  content/tutorials/foundry-era-test-node/_dir.yml
  content/tutorials/frontend-paymaster/_dir.yml
  content/tutorials/guide-subquery/_dir.yml
  content/tutorials/guide-the-graph/_dir.yml
  content/tutorials/guide-walletconnect/_dir.yml
  content/tutorials/guide-web3js/_dir.yml
  content/tutorials/how-to-deposit-erc20/_dir.yml
  content/tutorials/how-to-deposit-eth/_dir.yml
  content/tutorials/how-to-send-l1-l2-transaction/_dir.yml
  content/tutorials/how-to-send-l2-l1-message/_dir.yml
  content/tutorials/how-to-withdraw-eth/_dir.yml
  content/tutorials/native-aa-multisig/_dir.yml
  content/tutorials/permissionless-paymaster/_dir.yml
  content/tutorials/signing-transactions-with-webauthn/_dir.yml
  pages/tutorials/index.vue
  tests/configs/signing-txns-with-webauthn.ts
Due: prettier --list-different, eslint

Notes added by 'git notes add'
  25c5ef7f89d27c5726b13d650d80155a5b46c538
Due: none

chore: format
  code/wagmi/bun.lockb
  code/wagmi/src/pages/_document.tsx
Due: none

chore: remove template images
  code/wagmi/public/file.svg
  code/wagmi/public/globe.svg
  code/wagmi/public/next.svg
  code/wagmi/public/vercel.svg
  code/wagmi/public/window.svg
Due: none

chore: remove styling
  code/wagmi/src/pages/_app.tsx
  code/wagmi/src/pages/fonts/GeistMonoVF.woff
  code/wagmi/src/pages/fonts/GeistVF.woff
  code/wagmi/src/pages/index.tsx
  code/wagmi/src/styles/Home.module.css
  code/wagmi/src/styles/globals.css
  tests/wagmi.spec.ts
Due: prettier --list-different, eslint

chore: name
  code/wagmi/src/pages/index.tsx
Due: none

chore: revert last change
  code/wagmi/src/pages/index.tsx
Due: none

Notes added by 'git notes add'
  04ea9eb2230f97609263cf31a3a8ed04abfd32b1
Due: none

fix(docs): resolve comments
  content/tutorials/max-gas-pub-data/10.index.md
  content/tutorials/max-gas-pub-data/_dir.yml
Due: prettier --list-different, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: lint ci err
  content/tutorials/max-gas-pub-data/10.index.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

feat: add pubdata costs guide (#48)
  content/tutorials/max-gas-pub-data/10.index.md
  content/tutorials/max-gas-pub-data/_dir.yml
Due: prettier --list-different, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

Notes added by 'git notes add'
  dc8f807663029a1d1b0ad1d697aec4b4858ad931
Due: none
