Repository zkSync-Community-Hub/community-code: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint, cspell lint --file, markdownlint-cli2

fix: md lint
  content/tutorials/cross-chain-governance/20.L2-contract.md
Due: cspell lint --file, markdownlint-cli2

fix: cross-chain governance (#32)
  content/tutorials/cross-chain-governance/10.index.md
  content/tutorials/cross-chain-governance/20.L2-contract.md
  content/tutorials/cross-chain-governance/30.cross-chain-transactions.md
Due: cspell lint --file, markdownlint-cli2

Notes added by 'git notes add'
  c8352df06efd50313266006e453d654e6e8b389c
Due: none

fix: broken links
  content/tutorials/cross-chain-governance/30.cross-chain-transactions.md
  content/tutorials/daily-spend-limit-account/10.index.md
  content/tutorials/erc20-paymaster/10.index.md
  content/tutorials/frontend-paymaster/10.index.md
  content/tutorials/guide-viem/10.index.md
  content/tutorials/guide-walletconnect/10.index.md
  content/tutorials/native-aa-multisig/10.index.md
Due: cspell lint --file, markdownlint-cli2

fix: broken links (#33)
  content/tutorials/cross-chain-governance/30.cross-chain-transactions.md
  content/tutorials/daily-spend-limit-account/10.index.md
  content/tutorials/erc20-paymaster/10.index.md
  content/tutorials/frontend-paymaster/10.index.md
  content/tutorials/guide-viem/10.index.md
  content/tutorials/guide-walletconnect/10.index.md
  content/tutorials/native-aa-multisig/10.index.md
Due: cspell lint --file, markdownlint-cli2

Notes added by 'git notes add'
  eb8f605e0cdb8791ca79b8cf98f5d426957cdb06
Due: none

fix: update title
  content/tutorials/guide-viem/_dir.yml
Due: prettier --list-different

fix: update title (#34)
  content/tutorials/guide-viem/_dir.yml
Due: prettier --list-different

Notes added by 'git notes add'
  3227a186cbe482efcbb0efc58b3a6cb6c8e1f1a9
Due: none

feat: add test for hardhat testing tutorial
  .github/workflows/playwright.yaml
  .gitignore
  bun.lockb
  content/tutorials/how-to-test-contracts/10.index.md
  cspell-config/cspell-zksync.txt
  package.json
  playwright.config.ts
  tests/how-to-test-contracts.spec.ts
  tests/utils/button.ts
  tests/utils/files.ts
  tests/utils/getTestActions.ts
  tests/utils/queries.ts
  tests/utils/runCommand.ts
  tests/utils/runTest.ts
  tests/utils/setup.ts
  tests/utils/visit.ts
Due: prettier --list-different, eslint, cspell lint --file, markdownlint-cli2

fix: cleanup
  content/tutorials/how-to-test-contracts/10.index.md
Due: cspell lint --file, markdownlint-cli2

fix: move dependencies to dev
  bun.lockb
  package.json
Due: prettier --list-different

fix: address feedback & remove old plugin
  content/tutorials/how-to-test-contracts/10.index.md
Due: cspell lint --file, markdownlint-cli2

fix: wait longer for node
  content/tutorials/how-to-test-contracts/10.index.md
Due: cspell lint --file, markdownlint-cli2

feat: add test for hardhat testing tutorial (#35)
  .github/workflows/playwright.yaml
  .gitignore
  bun.lockb
  content/tutorials/how-to-test-contracts/10.index.md
  cspell-config/cspell-zksync.txt
  package.json
  playwright.config.ts
  tests/how-to-test-contracts.spec.ts
  tests/utils/button.ts
  tests/utils/files.ts
  tests/utils/getTestActions.ts
  tests/utils/queries.ts
  tests/utils/runCommand.ts
  tests/utils/runTest.ts
  tests/utils/setup.ts
  tests/utils/visit.ts
Due: prettier --list-different, eslint, cspell lint --file, markdownlint-cli2

Notes added by 'git notes add'
  373777767d69b1ffce11568523907d6adbb95244
Due: none

feat: add permissionless paymaster tutorial
  content/tutorials/permissionless-paymaster/10.index.md
  content/tutorials/permissionless-paymaster/_dir.yml
  cspell-config/cspell-blockchain.txt
  public/images/permissionless-paymaster/depositAndAddSigner.png
  public/images/permissionless-paymaster/flowDiagram.jpg
  public/images/permissionless-paymaster/manager-signer.jpg
  public/images/permissionless-paymaster/signatureRequest.png
Due: prettier --list-different, cspell lint --file, markdownlint-cli2

chore: update relation diagram
  public/images/permissionless-paymaster/manager-signer.jpg
Due: none

docs: add zk chain tutorial
  content/tutorials/custom-zk-chain/10.index.md
  content/tutorials/custom-zk-chain/20.customizing-your-chain.md
  content/tutorials/custom-zk-chain/_dir.yml
  content/tutorials/guide-dipdup-indexer/_dir.yml
  cspell-config/cspell-blockchain.txt
  cspell-config/cspell-misc.txt
Due: prettier --list-different, cspell lint --file, markdownlint-cli2

fix: grammatical mistake
  content/tutorials/permissionless-paymaster/10.index.md
Due: cspell lint --file, markdownlint-cli2

docs: cleanup zk chain tutorial
  content/tutorials/custom-zk-chain/10.index.md
  content/tutorials/custom-zk-chain/20.customizing-your-chain.md
  content/tutorials/custom-zk-chain/_dir.yml
Due: prettier --list-different, cspell lint --file, markdownlint-cli2

Apply suggestions from code review
  content/tutorials/custom-zk-chain/10.index.md
  content/tutorials/custom-zk-chain/20.customizing-your-chain.md
Due: cspell lint --file, markdownlint-cli2

docs: add review suggestions
  content/tutorials/custom-zk-chain/10.index.md
  content/tutorials/custom-zk-chain/20.customizing-your-chain.md
Due: cspell lint --file, markdownlint-cli2

chore: update addresses
  content/tutorials/permissionless-paymaster/10.index.md
Due: cspell lint --file, markdownlint-cli2

test: add erc20 paymaster test and refactor testing
  .github/workflows/playwright.yaml
  bun.lockb
  content/tutorials/erc20-paymaster/10.index.md
  content/tutorials/how-to-test-contracts/10.index.md
  package.json
  tests/configs/config.ts
  tests/configs/erc20-paymaster.ts
  tests/configs/how-to-test-contracts.ts
  tests/erc20-paymaster.spec.ts
  tests/how-to-test-contracts.spec.ts
  tests/utils/files.ts
  tests/utils/getTestActions.ts
  tests/utils/runCommand.ts
  tests/utils/runTest.ts
  tests/utils/types.ts
Due: prettier --list-different, eslint, cspell lint --file, markdownlint-cli2

docs: minor fixes and feedback
  content/tutorials/custom-zk-chain/10.index.md
  content/tutorials/custom-zk-chain/20.customizing-your-chain.md
Due: cspell lint --file, markdownlint-cli2

Update content/tutorials/permissionless-paymaster/10.index.md
  content/tutorials/permissionless-paymaster/10.index.md
Due: cspell lint --file, markdownlint-cli2

fix: zksync-cli link
  content/tutorials/permissionless-paymaster/10.index.md
Due: cspell lint --file, markdownlint-cli2

Apply suggestions from code review
  content/tutorials/permissionless-paymaster/10.index.md
Due: cspell lint --file, markdownlint-cli2

fix: try waiting for hh setup
  content/tutorials/erc20-paymaster/10.index.md
  tests/configs/erc20-paymaster.ts
Due: prettier --list-different, eslint, cspell lint --file, markdownlint-cli2

fix: interactive cli
  .github/workflows/playwright.yaml
  tests/utils/runCommand.ts
Due: prettier --list-different, eslint

docs: minor fixes and add feedback
  content/tutorials/custom-zk-chain/20.customizing-your-chain.md
Due: cspell lint --file, markdownlint-cli2

docs: apply feedback to add more context
  content/tutorials/custom-zk-chain/10.index.md
Due: cspell lint --file, markdownlint-cli2

docs: use allowlist
  content/tutorials/custom-zk-chain/20.customizing-your-chain.md
Due: cspell lint --file, markdownlint-cli2

fix: add more clarity on 2nd step
  bun.lockb
  content/tutorials/permissionless-paymaster/10.index.md
  package-lock.json
Due: prettier --list-different, cspell lint --file, markdownlint-cli2

fix: add package dependencies
  content/tutorials/permissionless-paymaster/10.index.md
Due: cspell lint --file, markdownlint-cli2

fix: add provider code and more clarity on step-3
  content/tutorials/permissionless-paymaster/10.index.md
Due: cspell lint --file, markdownlint-cli2

fix: typo
  content/tutorials/permissionless-paymaster/10.index.md
Due: cspell lint --file, markdownlint-cli2

docs: address feedback
  content/tutorials/custom-zk-chain/10.index.md
  content/tutorials/custom-zk-chain/20.customizing-your-chain.md
Due: cspell lint --file, markdownlint-cli2

chore: replace span with component
  components/TestAction.vue
  content/tutorials/erc20-paymaster/10.index.md
  content/tutorials/how-to-test-contracts/10.index.md
  nuxt.config.ts
Due: prettier --list-different, eslint, cspell lint --file, markdownlint-cli2

Path conditions:
  prettier --list-different: (any of: *.{js,ts,vue}) or (any of: *.{json,yml})
  eslint: any of: *.{js,ts,vue}
  cspell lint --file: any of: *.md
  markdownlint-cli2: any of: *.md
