Repository zkSync-Community-Hub/community-code: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

docs: move eco setup to new tutorial, clean
  code/interop-messages/contracts/ignition/modules/InteropTokenLocal.ts
  content/tutorials/custom-zk-chain/_dir.yml
  content/tutorials/interop-messages/00.index.md
  content/tutorials/interop-messages/15.interop-contracts.md
  content/tutorials/interop-messages/_dir.yml
  content/tutorials/interop-messages/_partials/_contracts-local.md
  content/tutorials/interop-messages/_partials/_contracts-testnet.md
  content/tutorials/multichain-ecosystem/00.index.md
  content/tutorials/multichain-ecosystem/_dir.yml
  content/tutorials/paymaster-foundry-guide/_dir.yml
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: token module
  code/interop-messages/contracts/ignition/modules/InteropTokenTestnet.ts
Due: prettier --list-different, eslint

chore: remove testnet option
  code/interop-messages/contracts/hardhat.config.testnet.ts
  code/interop-messages/contracts/ignition/modules/InteropToken.ts
  code/interop-messages/contracts/ignition/modules/InteropTokenTestnet.ts
  code/interop-messages/frontend/config/constants-testnet.ts
  code/interop-messages/frontend/utils/prove-testnet.ts
  code/interop-messages/frontend/utils/prove.ts
  content/tutorials/interop-messages/00.index.md
  content/tutorials/interop-messages/15.interop-contracts.md
  content/tutorials/interop-messages/20.testing-the-frontend.md
  content/tutorials/interop-messages/_partials/_contracts-local.md
  content/tutorials/interop-messages/_partials/_contracts-testnet.md
  content/tutorials/interop-messages/_partials/_frontend-local.md
  content/tutorials/interop-messages/_partials/_frontend-testnet.md
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

Notes added by 'git notes add'
  b0da943795b6c3cb5e1c9205d8c98bb94fad4d0c
Due: none

feat: use new og images
  bun.lockb
  package.json
Due: prettier --list-different

chore: use latest template
  bun.lockb
  package.json
Due: prettier --list-different

feat: use new og images (#152)
  bun.lockb
  package.json
Due: prettier --list-different

Notes added by 'git notes add'
  d5eea695b632d33c13d68bd6150d4a68b6418d2c
Due: none

feat: tag eravm tutorials
  content/tutorials/build-a-zk-game/_dir.yml
  content/tutorials/daily-spend-limit-account/_dir.yml
  content/tutorials/dapp-nft-paymaster/_dir.yml
  content/tutorials/erc20-paymaster/_dir.yml
  content/tutorials/foundry-era-test-node/_dir.yml
  content/tutorials/frontend-paymaster/_dir.yml
  content/tutorials/native-aa-multisig/_dir.yml
  content/tutorials/paymaster-foundry-guide/_dir.yml
  content/tutorials/permissionless-paymaster/_dir.yml
  content/tutorials/signing-transactions-with-webauthn/_dir.yml
  content/tutorials/sso-react-native/_dir.yml
  pages/index.vue
  pages/tutorials/[...slug].vue
  pages/tutorials/index.vue
Due: prettier --list-different, eslint

feat: tag eravm tutorials (#153)
  content/tutorials/build-a-zk-game/_dir.yml
  content/tutorials/daily-spend-limit-account/_dir.yml
  content/tutorials/dapp-nft-paymaster/_dir.yml
  content/tutorials/erc20-paymaster/_dir.yml
  content/tutorials/foundry-era-test-node/_dir.yml
  content/tutorials/frontend-paymaster/_dir.yml
  content/tutorials/native-aa-multisig/_dir.yml
  content/tutorials/paymaster-foundry-guide/_dir.yml
  content/tutorials/permissionless-paymaster/_dir.yml
  content/tutorials/signing-transactions-with-webauthn/_dir.yml
  content/tutorials/sso-react-native/_dir.yml
  pages/index.vue
  pages/tutorials/[...slug].vue
  pages/tutorials/index.vue
Due: prettier --list-different, eslint

Notes added by 'git notes add'
  606c0aef9651de0fa2464c4a69f5d4d5f40ca8da
Due: none

chore: update sp1 deps
  code/zk-game/backend/api/Cargo.toml
  code/zk-game/backend/script/Cargo.toml
  code/zk-game/backend/sp1_program/Cargo.toml
Due: none

fix: try test fix
  content/tutorials/erc20-paymaster/10.index.md
  tests/configs/erc20-paymaster.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

chore: update sp1 deps (#154)
  code/zk-game/backend/api/Cargo.toml
  code/zk-game/backend/script/Cargo.toml
  code/zk-game/backend/sp1_program/Cargo.toml
  content/tutorials/erc20-paymaster/10.index.md
  tests/configs/erc20-paymaster.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

feat: add vue and ts reown examples
  code/walletconnect/react/.gitignore
  code/walletconnect/react/eslint.config.js
  code/walletconnect/react/index.html
  code/walletconnect/react/package.json
  code/walletconnect/react/src/App.tsx
  code/walletconnect/react/src/main.tsx
  code/walletconnect/react/src/vite-env.d.ts
  code/walletconnect/react/tsconfig.app.json
  code/walletconnect/react/tsconfig.json
  code/walletconnect/react/tsconfig.node.json
  code/walletconnect/react/vite.config.ts
  code/walletconnect/ts/.gitignore
  code/walletconnect/ts/bun.lock
  code/walletconnect/ts/index.html
  code/walletconnect/ts/package.json
  code/walletconnect/ts/src/main.ts
  code/walletconnect/ts/src/reown.ts
  code/walletconnect/ts/tsconfig.json
  code/walletconnect/vue/.gitignore
  code/walletconnect/vue/bun.lock
  code/walletconnect/vue/index.html
  code/walletconnect/vue/package.json
  code/walletconnect/vue/src/App.vue
  code/walletconnect/vue/src/main.ts
  code/walletconnect/vue/tsconfig.app.json
  code/walletconnect/vue/tsconfig.json
  code/walletconnect/vue/tsconfig.node.json
  code/walletconnect/vue/vite.config.ts
  content/tutorials/guide-walletconnect/10.index.md
  content/tutorials/guide-walletconnect/_dir.yml
  content/tutorials/guide-walletconnect/_partials/_react.md
  content/tutorials/guide-walletconnect/_partials/_ts.md
  content/tutorials/guide-walletconnect/_partials/_vue.md
  tests/configs/walletconnect.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

chore: remove zk game deployment link, fix steps
  content/tutorials/build-a-zk-game/10.index.md
  content/tutorials/build-a-zk-game/40.building-the-frontend.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: test
  tests/configs/walletconnect.ts
Due: prettier --list-different, eslint

feat: add vue and ts reown examples (#155)
  code/walletconnect/react/.gitignore
  code/walletconnect/react/eslint.config.js
  code/walletconnect/react/index.html
  code/walletconnect/react/package.json
  code/walletconnect/react/src/App.tsx
  code/walletconnect/react/src/main.tsx
  code/walletconnect/react/src/vite-env.d.ts
  code/walletconnect/react/tsconfig.app.json
  code/walletconnect/react/tsconfig.json
  code/walletconnect/react/tsconfig.node.json
  code/walletconnect/react/vite.config.ts
  code/walletconnect/ts/.gitignore
  code/walletconnect/ts/bun.lock
  code/walletconnect/ts/index.html
  code/walletconnect/ts/package.json
  code/walletconnect/ts/src/main.ts
  code/walletconnect/ts/src/reown.ts
  code/walletconnect/ts/tsconfig.json
  code/walletconnect/vue/.gitignore
  code/walletconnect/vue/bun.lock
  code/walletconnect/vue/index.html
  code/walletconnect/vue/package.json
  code/walletconnect/vue/src/App.vue
  code/walletconnect/vue/src/main.ts
  code/walletconnect/vue/tsconfig.app.json
  code/walletconnect/vue/tsconfig.json
  code/walletconnect/vue/tsconfig.node.json
  code/walletconnect/vue/vite.config.ts
  content/tutorials/build-a-zk-game/10.index.md
  content/tutorials/build-a-zk-game/40.building-the-frontend.md
  content/tutorials/guide-walletconnect/10.index.md
  content/tutorials/guide-walletconnect/_dir.yml
  content/tutorials/guide-walletconnect/_partials/_react.md
  content/tutorials/guide-walletconnect/_partials/_ts.md
  content/tutorials/guide-walletconnect/_partials/_vue.md
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

Notes added by 'git notes add'
  be07b6e482ecd548046a6bd777bf304c966b981f
Due: none

Path conditions:
  prettier --list-different: (any of: *.{js,ts,vue}) or (any of: *.{json,yml})
  eslint: any of: *.{js,ts,vue}
  markdownlint-cli2: any of: *.md
  cspell lint --quiet --no-must-find-files --files: any of: *.md
