Repository zkSync-Community-Hub/community-code: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

.lintstagedrc.yml:

'*.{js,ts,vue}':
  - prettier --list-different
  - eslint
'*.md':
  - markdownlint-cli2
  - cspell lint --quiet --no-must-find-files --files
'*.{json,yml}':
  - prettier --list-different

fix: icons
  components/content/TwitterButton.vue
  nuxt.config.ts
Due: prettier --list-different, eslint

fix: add icons
  nuxt.config.ts
Due: prettier --list-different, eslint

fix: add icon
  nuxt.config.ts
Due: prettier --list-different, eslint

fix: icons loading (#145)
  components/content/TwitterButton.vue
  nuxt.config.ts
Due: prettier --list-different, eslint

Notes added by 'git notes add'
  3dd9c92d903ff2905249e1940e23e87f1f266f75
Due: none

Update code/sso-react-native/utils/sendETH.ts
  code/sso-react-native/utils/sendETH.ts
Due: prettier --list-different, eslint

chore: cleanup, add note
  content/tutorials/sso-react-native/10.index.md
  content/tutorials/sso-react-native/20.adding-zksync-sso.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: typo
  content/tutorials/sso-react-native/20.adding-zksync-sso.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

Update content/tutorials/sso-react-native/_dir.yml
  content/tutorials/sso-react-native/_dir.yml
Due: prettier --list-different

fix: address feedback
  content/tutorials/sso-react-native/10.index.md
  content/tutorials/sso-react-native/20.adding-zksync-sso.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

feat: add SSO react-native tutorial (#143)
  code/sso-react-native/package-lock.json
  code/sso-react-native/package.json
  code/sso-react-native/types/types.ts
  code/sso-react-native/utils/account.ts
  code/sso-react-native/utils/authenticate/accountClient.ts
  code/sso-react-native/utils/authenticate/authenticator.ts
  code/sso-react-native/utils/loadConfig.ts
  code/sso-react-native/utils/sendETH.ts
  content/tutorials/build-a-zk-game/_dir.yml
  content/tutorials/daily-spend-limit-account/_dir.yml
  content/tutorials/signing-transactions-with-webauthn/_dir.yml
  content/tutorials/sso-react-native/10.index.md
  content/tutorials/sso-react-native/20.adding-zksync-sso.md
  content/tutorials/sso-react-native/_dir.yml
  cspell-config/cspell-misc.txt
  cspell-config/cspell-zksync.txt
  public/images/sso-react-native/sso-demo.mp4
  public/images/sso-react-native/xcode-setup.png
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

Notes added by 'git notes add'
  7ef9f823a122e86bb0ba315b7c1420738294e6f7
Due: none

chore: text
  .github/workflows/playwright.yaml
Due: none

chore: specify to use hardhat v2, fix init command
  .github/workflows/playwright.yaml
  content/tutorials/cross-chain-governance/_partials/_intro.md
  content/tutorials/custom-zk-chain/20.customizing-your-chain.md
  content/tutorials/how-to-test-contracts/10.index.md
  tests/utils/types.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: import type
  code/test-contracts/hardhat.config.ts
Due: prettier --list-different, eslint

fix: typo
  content/tutorials/cross-chain-governance/_partials/_intro.md
  content/tutorials/custom-zk-chain/20.customizing-your-chain.md
  content/tutorials/how-to-test-contracts/10.index.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

chore: update for hardhat CLI (#146)
  code/test-contracts/hardhat.config.ts
  content/tutorials/cross-chain-governance/_partials/_intro.md
  content/tutorials/custom-zk-chain/20.customizing-your-chain.md
  content/tutorials/how-to-test-contracts/10.index.md
  tests/utils/types.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

feat: add new 404 page
  error.vue
Due: prettier --list-different, eslint

fix: links
  error.vue
Due: prettier --list-different, eslint

fix: use new docs url
  error.vue
Due: prettier --list-different, eslint

fix: custom zk chain scripts
  code/custom-zk-chain/scripts/depositBaseToken.ts
  code/custom-zk-chain/scripts/depositETH.ts
  content/tutorials/custom-zk-chain/10.index.md
  content/tutorials/custom-zk-chain/20.customizing-your-chain.md
  tests/configs/custom-zk-chain.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

feat: add new 404 page (#147)
  error.vue
Due: prettier --list-different, eslint

Notes added by 'git notes add'
  5855aa1b722bbdf394120c10c21983f59e12b965
Due: none

fix: custom zk chain scripts (#148)
  code/custom-zk-chain/scripts/depositBaseToken.ts
  code/custom-zk-chain/scripts/depositETH.ts
  content/tutorials/custom-zk-chain/10.index.md
  content/tutorials/custom-zk-chain/20.customizing-your-chain.md
  tests/configs/custom-zk-chain.ts
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

Notes added by 'git notes add'
  2b7b097f4a1046f0e984cc4eea8c44094e799fa0
Due: none

fix: header links
  header-links.ts
Due: prettier --list-different, eslint

fix: header links (#149)
  header-links.ts
Due: prettier --list-different, eslint

fix: use new header
  app.vue
  bun.lockb
  error.vue
  header-links.ts
  package.json
Due: prettier --list-different, eslint

docs: update headers
  bun.lockb
  package.json
Due: prettier --list-different

fix: test
  .github/workflows/playwright.yaml
Due: none

docs: update interop tutorial
  code/interop-messages/contracts/ignition/modules/InteropToken.ts
  code/interop-messages/frontend/utils/prove.ts
  content/tutorials/interop-messages/00.index.md
  content/tutorials/interop-messages/10.ecosystem-setup.md
  content/tutorials/interop-messages/15.interop-contracts.md
  content/tutorials/interop-messages/20.testing-the-frontend.md
  content/tutorials/interop-messages/_dir.yml
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: use new header (#151)
  .github/workflows/playwright.yaml
  app.vue
  bun.lockb
  error.vue
  header-links.ts
  package.json
Due: prettier --list-different, eslint

Notes added by 'git notes add'
  502f3ef1b5470c49b35739caa0976609802bfb22
Due: none

chore: remove lens
  code/interop-messages/contracts/hardhat.config.testnet.ts
  code/interop-messages/contracts/ignition/modules/InteropTokenTestnet.ts
  code/interop-messages/frontend/config/constants-testnet.ts
  content/tutorials/interop-messages/10.ecosystem-setup.md
  content/tutorials/interop-messages/_partials/_contracts-testnet.md
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

Apply suggestions from code review
  code/interop-messages/contracts/ignition/modules/InteropTokenLocal.ts
  content/tutorials/interop-messages/00.index.md
  content/tutorials/interop-messages/10.ecosystem-setup.md
  content/tutorials/interop-messages/_partials/_frontend-setup2.md
Due: prettier --list-different, eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

Update code/interop-messages/contracts/ignition/modules/InteropTokenTestnet.ts
  code/interop-messages/contracts/ignition/modules/InteropTokenTestnet.ts
Due: prettier --list-different, eslint
